﻿@model MDRIP.Models.Bacteria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bacteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxonomy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxonomy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GramStaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GramStaining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shape)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shape)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OxygenRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OxygenRequirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicalCharacteristics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicalCharacteristics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occurence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occurence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvolingDiseases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvolingDiseases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCBI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCBI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Likeness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likeness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteractionWithOrganism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteractionWithOrganism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeOfTransmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeOfTransmission)
        </dd>

        @if (Model.Attachments.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Attachments)
            </dt>
            <dd>
                @foreach (var att in Model.Attachments)
                {
                    <a href="@Url.Action("DownloadFile", "Utils")?link=@att.Link&name=@att.Name" target="_blank">@att.Name</a>
                }
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>
