﻿@model IEnumerable<MDRIP.Models.Bacteria>

@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Bacteria - ";
}
<div>
    <div style="display:inline; width: 50%; float: left;">
        @using (Html.BeginForm("Index", "Bacteria", FormMethod.Get))
        {
            <div>
                <input id="SearchString" name="SearchString" type="text" value="" placeholder="Search..." style="width:65%">
                <input type="submit" value="Search" style="width:30%" />
            </div>
        }
    </div>
    <div style="display:inline; width: 50%; float: left;">
        
        @using (Html.BeginForm("Create", "Bacteria", FormMethod.Get))
        {
            <div>
                <input type="submit" value="Create New Bacteria" style="width:30%" />
            </div>
        }
    </div>

</div>

<div class="card">
    <div class="card-body">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col" width="10%" class="tabular-heading">ID</th>
                    <th scope="col" width="20%" class="tabular-heading">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.Definition)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.Strain)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.ModeOfTransmission)</th>
                    <th scope="col" width="10%" class="tabular-heading">Infections</th>
                    <th scope="col" width="10%" class="tabular-heading"># Attachments</th>
                    <th scope="col" width="20%" class="tabular-heading">Actions</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.ID)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.Definition)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.Strain)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.ModeOfTransmission)</td>
                        <td class="tabular-data">
                            @{ var infs = item.Infections.ToArray();
                                var separator = ", ";
                                int length = Math.Min(4, infs.Length);
                                bool displayDots = length > 4;}
                            @for (int i = 0; i < length; i++)
                            {
                                if (i < length - 1)
                                {
                                    <a href="@Url.Action("Details", "Infections", new { id=infs[i].ID})">@infs[i].Name</a><i>@separator</i>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "Infections", new { id=infs[i].ID})">@infs[i].Name</a>
                                }
                            }
                            @if (length > 0 && displayDots) {
                                <i>...</i>
                            }
                        </td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.Attachments.Count)</td>
                        <td class="tabular-data">@Html.ActionLink("Details", "Details", new { id = item.ID }) | @Html.ActionLink("Edit", "Edit", new { id = item.ID }) | @Html.ActionLink("Delete", "Delete", new { id = item.ID })</td>
                    </tr>
                </tbody>
            }
        </table>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>