﻿.no-padding-top {
    padding-top:0px !important;
}

.no-padding-bottom {
    padding-bottom:0px !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
    /*display: none !important;*/
    max-height: 22px;
}

.custom-link {
    color: blue;
    text-decoration: underline;
}

.search-result-type {
    font-size: small;
    padding-bottom: 10px;
    margin-top:10px;
    color: black;
    font-weight: 500;
}

.search-result-body {
    margin-top: -15px;
    font-size: small;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.featured-img {
    border: 2px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.featured-link {
    width:90%;
    text-align: center;
    padding-top:10px;
}

.zero-top {
    top: -40px !important;
}

.queryInput {
    color: white;
}