/*
    This file contains the CSS code for custom styling of the web pages.
    The NowUI Bootstrap4 theme CSS has not been modified and therefore, this file
    implements the custom style that we require.
*/

body {
	padding-top: 100px;
	padding-bottom: 20px;
}

.scale:hover {
    opacity:0.2
}

.page_content {
    color: black;
    text-align:justify;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.smallbtn {
    margin:2px;
    border-radius:100px;
}

#vis-row {

}

#vis-row .row {

}

#firstcol {
    clear:both;
    display:block;
}

.notification {
    max-width: 300px;
    float: right;
    position: absolute;
    min-height: 30px;
    top: 190px;
    right: 10px;
    z-index: 1;
    border-radius: 5px;
}

.scale {
    max-width: 100px;
    position: absolute;
    min-height: 100px;
    bottom: 75px;
    left: 0px;
    z-index: 1;
    border-radius: 5px;
    /*background: rgba(27, 197, 255, 0.4);
    border: 1px solid black;*/
    color: black;
}

.notification-info {
    background: rgba(27, 197, 255, 0.4);
    border: 1px solid black;
    color:black;
}
.notification-warning {
    background: red;
    opacity:0.4;
    border: 1px solid black;
}

.notification:hover {
    opacity:0;
    z-index:10;
    border: 1px solid white;
}

.alertsbar {
    top: 65px;
    position: fixed;
    border: 10px solid black;
    z-index: 1;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    background: rgba(27, 197, 255, 0.14);
    
}

#barchart svg, #piechart svg {
    width: 100%;
}

.vis-nav-icon {
    float: left;
    width: 10%;
    height: 100%;
}

.vis-nav-item {
    float: left;
    width: 90%;
    height: 100%;
}

.vis-vr {
    width: 1px;
    height: 100%;
    display: inline;
    border: 1px solid black;
}

.vis-badge:focus {
    outline: none;
}

.vis-badge {
    padding: 4px 8px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    border: 1px solid;
    margin-bottom: 5px;
    min-width: 120px;
    max-height: 30px;
    cursor: pointer;
}

.vis-badge-date {
    background-color: ActiveBorder;
    border-radius: 10px
}

.vis-badge-rate {
    background-color: rgba(149, 246, 198, 0.71);
    border-radius: 10px
}

.vis-badge-infection {
    background-color: rgba(104, 184, 211, 0.95);
    border-radius: 0px
}

.vis-badge-region {
    background-color: rgba(239, 236, 74, 0.49);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}

.vis-badge-selected {
    box-shadow: 1px 1px 1px 1px #ff1919;
}

.vis-badge-notselected {
    box-shadow: none;
}

.fullh {
    height: 100%
}

.fullw {
    width: 100%;
}

.fullhw {
    height: 100%;
    width: 100%;
}

.vis-overview-text {
    font-weight: bold;
    color: black;
}

.vis-card-header {
    padding: 0;
    height: 30px;
    background-color: orange;
    background: orange;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.vis-item:hover {
    box-shadow: 2px 2px 2px 2px black;
}

.vis-nav {
    background: #9aa3ab;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.selectedstuff {
    text-transform: capitalize;
    font-size: 12px;
}

.table-result-bg {
    background: rgba(12, 84, 96, 0.46);
}

.calRemainingHeight {
    height: calc(100vh - 65px);

}

.sidebarheight {
    top: 65px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    height: calc(100vh-65px); /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    background-color: rgb(75, 75, 75); /* Black */
    overflow-x: hidden;
}

.test-bg {
    background-color: aliceblue;
    color: aliceblue;
}

.btn-visnav {
    border-radius: 100px;
    justify-content: center;
}

table {
    width: 100%;
}

#infectionsResultsList tr td:hover, #regionsResultsList tr td:hover {
    background-color: #5c5c5c;
}

.input-sidebar {
    height: 30px;
    max-height: 40px;
    font-weight: bold;
    border-radius: 100px;
}

.form-control {
    background: white;
    color: black;
}

.btn-sidebar {
    border-radius: 100px;
    max-height: 30px;
}

.test-border {
    border: 1px solid black;
}

.sideinput {
    width: 125px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: rgb(75, 75, 75); /* Black */
    overflow-x: hidden;
}

.visualisation-content {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /*left:300px;*/
    /*width: calc(100% - 300px); */
}

.sidenav-ori {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 65px
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px
    }

        .sidenav a {
            font-size: 18px
        }
}

.removecaps {
    text-transform: none !important
}


.padding-left-right {
    margin-left: 10px;
    margin-right: 10px;
}

.viscomponent {
    min-height: 300px;
    height: auto
}

.small-box {
    border: 1px solid black;
}

.remainingheight {
    height: calc(100vh - 200px);
    padding-left: 25px;
    margin-top: 0px;
    display: flex;
    width: auto;
}

.fullscreen {
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid black;
}

.makewhite {
    color: black;
}

.floatingdiv {
    position: absolute;
    bottom: 140px;
    height: 30px;
    width: 30px;
    z-index: 99;
    right: 15px;
    opacity: 1
}

.small-box > .inner {
    padding: 10px
}

.bold {
    font-weight: bold;
    text-decoration-color: #0f0f0f;
    border: none;
    color: rgba(255, 255, 255, 1);
    max-height: 50px;
}

.nav-item-newsize {
    font-size: 16px
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}

    .small-box > .small-box-footer:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.15)
    }

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0
}

.small-box h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0px 0;
    padding: 10px 0px 0px 10px;
    /*white-space: nowrap;*/
    text-transform: none !important;
}

.small-box p {
    font-size: 15px
}

    .small-box p > small {
        display: block;
        color: #f9f9f9;
        font-size: 13px;
        margin-top: 5px
    }

.small-box h3,
.small-box p {
    z-index: 5
}

.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15)
}

.small-box:hover {
    text-decoration: none;
    color: #000000
}

    .small-box:hover .icon {
        font-size: 95px
    }

@media (max-width: 767px) {
    .small-box {
        text-align: center
    }

        .small-box .icon {
            display: none
        }

        .small-box p {
            font-size: 12px
        }
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.row-title {
	font-weight:bold;
	padding-bottom: 15px;
}

.card {
	width: 90%;
}

.landing-page-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: #272727;*/
    /*background-image: url("../../Assets/trianglify.svg");*/
    width: 100%;
    height: 100%;
    /*filter : grayscale(100%)*/
}

.nav-personalised {
    max-height: 100px
}

btn-personalised {
    background: rgba(255, 255, 255, 0);
    border: none;
}

.alerts {
    z-index: 1;
    width: 100%;
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.box-title {
    /*position: relative;
    top: 0.75em;
    margin-left: 1.5em;
    display: inline;*/
    color: black;
    height: 20px;
    font-weight: 600;
    box-shadow: 1px 0px 0px 0 rgba(0, 0, 0, 0.2);
    /*background-color: rgb(255, 255, 255);*/
}

.box-title-after-icon {
    /*position: relative;
    top: 0.75em;
    display: inline;*/
    color: black;
    font-weight: 400;
    /*background-color: rgb(255, 255, 255);*/
}
.box-title-icon {
    /*position: relative;
    top: 1.35em;
    margin-left: 1.5em;
    display: inline;*/
    color: black;
    font-weight: 400;
    /*background-color: rgb(255, 255, 255);*/
}

.home-section{
    top: 65px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    height: calc(100vh-65px); /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    /*background-color: rgb(255, 255, 255);*/ /* Black */
    overflow-x: hidden;
}

.home-main {
    width: 100%;
    padding-top: 0px;
}

.searchbox-sidebar {
    height: 30px;
    max-height: 40px;
    font-weight: bold;
    border-radius: 10px;
}

.btn-search {
    border-radius: 0px 10px 10px 0px;
    max-height: 10px;
}

#search-results-div {
    padding-top:10px;
}

.custom-link{
    color:blue;
    text-decoration:underline;
}

.search-result-type {
    font-size: x-small;
    color:black;
    font-weight: 500;
}

.search-result-body {
    margin-top: -15px;
    font-size: small;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3px;
    padding-bottom: 3px;
    text-align: justify;
}

.article-cell-width {
    width:50%;
}

.article-cell-width-input {
    width: 50%;
}

.article-cell-width-input input {
    border-radius: 5px;
    width:100%;
}

.icon-format {
    font-weight: 700 !important;
    font-size: 16px !important;
}

.overflowy{
    overflow-y: scroll;
    overflow-x:none;
}

.overflowy:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.overflowy:hover::-webkit-scrollbar-thumb {
    background: #888;
}



.overflowx-none {
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background:white;
}

/* Track */
::-webkit-scrollbar-track {
    //background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    //background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background: #555;
}

#table_delete_btn {
    background: red;
    color:white;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

th {
    background-color: #dddddd;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-right: solid;
    border-bottom:solid;
    border-color: lightgray
}

.tabular-heading, .tabular-data {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.3em !important;
}

#create-new {
    padding-bottom: 20px;
}

#action-buttons {
}

.tabular-heading {
    font-size: small;
    text-align: center;
}

.tabular-data {
    font-size: small;
}

.featured-img {
    border: 2px solid black;
}

.featured-link {
    font-size: 12px;
}

.navbar {
    background-color: black !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
    /*display: none !important;*/
    max-height: 22px;
}

.zero-top {
    top: -30px !important;
}

.create-occurrence-form .form-control {
    color:black;
    background-color:transparent;
}

.create-occurrence-form select.form-control, .create-occurrence-form select.form-control option {
    color: black;
}

.max-width-100 {
    max-width : 100%;
}

.create-occurrence-form .card-header  {
    padding:0px;
}

.create-occurrence-form {
    margin-bottom: 20px;
}

.create-occurrence-form .form-group .custom-date-control {
    font-size:10px;
}

@media (min-width: 768px) {
    .max-width-100 {
        max-width: 100%;
    }
}