﻿@model MDRIP.Models.LoginAndRegisterViewModel

@{
    ViewBag.Title = "Welcome";
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MDRIP</title>
    @Styles.Render("~/Content/newcss")
</head>

<body class="landing-page-background" >

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-center">
        <div class="container">
            <div class="navbar-translate mx-auto order-0">
                <a class="navbar-brand bold nav-item-newsize" href="@Url.Action("Index","Visualisation")" rel="tooltip" title="" data-placement="bottom">
                Multi Drug Resistant Tracking and Visualisation
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 justify-content-center">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" id="overview">
                    <a class="nav-link btn btn-neutral btn-simple btn-round bold active" href="@Url.Action("Index","Visualisation")">
                        <p>MDRIP</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div id="google_translate_element"></div>
                </li>
            </ul>
        </div>
    </nav>


    @*<div id="google_translate_element"></div>*@
    <style>
        .body {
            top: 0
        }
        /*.goog-te-banner-frame.skiptranslate {
            display: none;
        }*/

        #google_translate_element {
            position: absolute;
            right: 10px;
            top: 10px
        }
    </style>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <div class="wrapper">
        <div class="container">
            <div class="row" style="padding-top:16%">
                <div class="col-md-4"></div>
                <div class="col-md-4 justify-content-center">
                    <div class="card text-center" style="width:100%">
                        <div class="card-header">

                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item" onclick="showTab('login')">
                                    <a class="nav-link active" id="loginlink" data-toggle="tab" href="#login" role="tab">Login</a>
                                </li>
                                <li class="nav-item" onclick="showTab('signup')">
                                    <a class="nav-link" id="signuplink" data-toggle="tab" href="#signup" role="tab">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="tab-pane active show" id="login">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                    if (ViewBag.Success == "Success")
                    {
                        @Html.ValidationMessage("Success", "Accout created successfully. Please confirm your account before logging in.", new { @class = "text-info" })

            }

            <div class="form-group">
                @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.LoginViewModel.Email) })
                @Html.ValidationMessageFor(m => m.LoginViewModel.Email, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.LoginViewModel.Password) })
                @Html.ValidationMessageFor(m => m.LoginViewModel.Password, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>*@
                </div>
            </div>
            <div class="form-group justify-content-center">
                <div class="col-md-12">
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
}
                            </div>

                            <div class="tab-pane" id="signup" style="display:none">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.RegisterViewModel.FirstName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.FirstName) })
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.FirstName, null, new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.RegisterViewModel.LastName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.LastName) })
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.LastName, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.RegisterViewModel.UserCenter, new SelectList(Model.RegisterViewModel.Centers, "id", "Name"), "Select Center", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.UserCenter, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.RegisterViewModel.UserType, new SelectList(Model.RegisterViewModel.Type, "id", "Name"), "Select User Type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.UserType, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RegisterViewModel.FieldExpertise, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.FieldExpertise) })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.FieldExpertise, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RegisterViewModel.LabName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.LabName) })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.LabName, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RegisterViewModel.Specialisation, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.Specialisation) })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.Specialisation, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.DropDownListFor(m => m.RegisterViewModel.Country, new SelectList(Model.RegisterViewModel.CountryList, "id", "Name"), "Select a Country", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.Country, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.Email) })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.Email, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.Password) })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.Password, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.RegisterViewModel.ConfirmPassword) })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.Password, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>


<script>

    $(document).ready(function () {
        $("#RegisterViewModel_LabName").hide();
        $("#RegisterViewModel_FieldExpertise").hide();
        $("#RegisterViewModel_Specialisation").hide();

    });


    function showTab(tab, element) {
        if (tab === "signup") {
            document.getElementById("login").style.display = "none";
            document.getElementById('loginlink').classList.remove("active");
        }
        else {
            document.getElementById("signup").style.display = "none";
            document.getElementById('signuplink').classList.remove("active");
        }
        document.getElementById(tab).style.display = "block";
        document.getElementById(tab + 'link').classList.add("active");
    }

    $("#RegisterViewModel_UserType").change(function () {
        var data = $(this).val();
        if ($(this).val() == "1") {
            $("#RegisterViewModel_LabName").hide();
            $("#RegisterViewModel_FieldExpertise").hide();
            $("#RegisterViewModel_Specialisation").show();
        }
        else if ($(this).val() == "2") {
            $("#RegisterViewModel_FieldExpertise").show();
            $("#RegisterViewModel_LabName").show();
            $("#RegisterViewModel_Specialisation").hide();
        }
        else {
            $("#RegisterViewModel_LabName").hide();
            $("#RegisterViewModel_FieldExpertise").hide();
            $("#RegisterViewModel_Specialisation").hide();
        }
    });
</script>
