﻿@model IEnumerable<MDRIP.Models.ManagingInfections>

@{
    ViewBag.Title = "Index";
}

<h2>Managing Infections</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Centers", FormMethod.Get))
    {
    <p>
        @*Genre: @Html.DropDownList("Category","All")*@
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    </p>

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SeasonalInfection)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.SeasonalInfection)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SpreadOfInfection)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.SpreadOfInfection)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CauseOfBaterialInfection)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.CauseOfBaterialInfection)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WhereToGetHelp)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modmodelItemel => item.WhereToGetHelp)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BacteriaEntrance)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.BacteriaEntrance)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Handwashing)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.Handwashing)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ReducingHospitalInfection)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.ReducingHospitalInfection)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MedicinesSideEffects)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.MedicinesSideEffects)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SafetyIssues)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.SafetyIssues)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrescriptionMedicines)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.PrescriptionMedicines)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WorkPlaceSafetey)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.WorkPlaceSafetey)
                    </dd>

                </dl>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </div>
    }
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#tables').addClass("active");
        });
    </script>