﻿@model IEnumerable<MDRIP.Models.Center>

@{
    ViewBag.Title = "Index";
}

<div class="container body-content">

    <h2>Center</h2>

    <p>
        @Html.ActionLink("Add New Center", "Create")

        @using (Html.BeginForm("Index", "Centers", FormMethod.Get))
        {
        <p>
            @*Genre: @Html.DropDownList("Category","All")*@
            Search: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
        </p>

        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Telephone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ReproInfection)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.ReproInfection)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PatientInfection)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.PatientInfection)
                        </dd>

                    </dl>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
    </script>