﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using MDRIP.Models
@using MDRIP.helper
@using Microsoft.AspNet.Identity.EntityFramework

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as @(Helper.GetFirstName(User)) <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage"})</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>    
                </ul>
            </li>
<!--            <li>
                @Html.ActionLink("Hello " + Helper.GetFirstName(User) +"!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>-->
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "LandingPage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
