﻿@model MDRIP.Models.OccurencesViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.NavTitle = " - Report an Occurrence";
}

<div class="row">

    <div class="card card-signup create-occurrence-form" data-background-color="orange">
        <div class="card-header text-center">
            <h3 class="card-title title-up">Occurrence</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "Occurrences", FormMethod.Post, new { enctype = "multipart/form-data", id = "occurrenceForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div class="form-group">
                        <select class="form-control" data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="InfectionBacteria_ID" name="InfectionBacteriaID">
                            <option value="">Select Infection/Bacteria</option>
                            @foreach (InfectionBacteria infectionBacteria in Model.InfsBacts)
                            {
                                <option value="@infectionBacteria.Type - @infectionBacteria.ID">@infectionBacteria.Name</option>
                            }
                        </select>

                        @*@Html.DropDownListFor(model => model.InfectionBacteria.ID, new SelectList(Model.InfsBacts, "ID", "Name"), "Select Infection/Bacteria", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.InfectionBacteria.ID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtautocomplete" placeholder="Address" class="form-control" />
                    </div>

                    @Html.HiddenFor(model => model.Occurence.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Occurence.Latitude, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Occurence.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.Occurence.ReportedLocation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Occurence.ReportedLocation, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <select class="form-control" id="Occurence_District" name="Occurence.District">
                            <option value="">Select Region/District</option>
                            @foreach (var reg in Model.Regions)
                            {
                                <option value="@reg.Name">@reg.Country.Name - @reg.Name</option>
                            }
                        </select>

                        @Html.ValidationMessageFor(model => model.Occurence.District, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            Start Date:
                            <input class="form-control custom-date-control"
                                   data-val="true" data-val-date="The field StartDate must be a date."
                                   data-val-required="The StartDate field is required." id="StartDate"
                                   name="Occurence.StartDate" type="date" value="@DateTime.Now.Year-01-01" />
                            @Html.ValidationMessageFor(model => model.Occurence.StartDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            End Date:
                            <input class="form-control custom-date-control"
                                   data-val="true"
                                   data-val-date="The field EndDate must be a date."
                                   data-datepicker-color="primary"
                                   data-val-required="The EndDate field is required."
                                   id="EndDate" name="Occurence.EndDate" type="date"
                                   value='@DateTime.Now.ToString("yyyy-MM-dd")'>
                            @Html.ValidationMessageFor(model => model.Occurence.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            Prevalence:
                            @Html.EditorFor(model => model.Occurence.Prevalence, new { htmlAttributes = new { @class = "form-control", @Value="0", @min=0 } })
                            @Html.ValidationMessageFor(model => model.Occurence.Prevalence, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            Death Rate:
                            @Html.EditorFor(model => model.Occurence.DeathRate, new { htmlAttributes = new { @class = "form-control", @Value = "0", @min = 0 } })
                            @Html.ValidationMessageFor(model => model.Occurence.DeathRate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="">
                        <input type="file" id="Occurence_Attachment" name="Occurence.Attachment" class="form-control" accept=".xls,.xlsx,.csv,.CSV,.png,.jpeg,.jpg,.gif,.doc,.docx,.pdf,.PDF" multiple />
                    </div>

                    <div class="form-group">
                        <div class="justify-content-center text-center col-md-10 max-width-100">
                            @Html.ActionLink("Back to List", "Index")
                            <input type="submit" value="Create" onclick="javascript:document.getElementById('occurrenceForm').submit()" class="create-occurrence-button btn btn-neutral btn-round btn-lg" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYm1VJVWSDiBt5t4oW7CuEbHrW4bVrCI4&libraries=places"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('txtautocomplete'));
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var places = autocomplete.getPlace();
            $("#Occurence_ReportedLocation").val(places.formatted_address);
            // $("#Occurence_District").val(places.address_components[0]["long_name"]);
            $("#Occurence_Latitude").val(places.geometry.location.lat());
            $("#Occurence_Longitude").val(places.geometry.location.lng());
            $("#Occurence_District")[0].value = places.address_components[0]["long_name"];
        });
    }


</script>

