﻿@model MDRIP.Models.Occurrence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Occurrence</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Bacteria != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Bacteria)
            </dt>

            <dd>
                <a href="@Url.Action("Details", "Bacteria", new { id = Model.Bacteria.ID })">@Model.Bacteria.Name</a>
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.Infection)
            </dt>

            <dd>
                <a href="@Url.Action("Details", "Infections", new { id = Model.Infection.ID })">@Model.Infection.Name</a>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.ReportedLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prevalence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prevalence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeathRate)
        </dd>

        @if (Model.Attachments.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Attachments)
            </dt>
            <dd>
                @foreach (var att in Model.Attachments)
                {
                    <a href="@Url.Action("DownloadFile", "Utils")?link=@att.Link&name=@att.Name" target="_blank">@att.Name</a><br />
                }
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>