﻿@model MDRIP.Models.OccurencesViewModel

@{
    ViewBag.Title = "Edit - Occurrence";
    ViewBag.NavTitle = " - Edit an Occurrence";
}


<div class="row">

    <div class="card card-signup create-occurrence-form" data-background-color="orange">
        <div class="card-header text-center">
            <h3 class="card-title title-up">Occurrence</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "Occurrences", FormMethod.Post, new { enctype = "multipart/form-data", id = "occurrenceForm" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    <select class="form-control" data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="InfectionBacteria_ID" name="InfectionBacteriaID">
                        <option value="">Select Infection/Bacteria</option>
                        @foreach (InfectionBacteria infectionBacteria in Model.InfsBacts)
                        {
                            var infbact = infectionBacteria.Type + " - " + infectionBacteria.ID;
                            if (Model.InfectionBacteriaID == infbact)
                            {
                                <option value="@infbact" selected>@infectionBacteria.Name</option>
                            }
                            else
                            {
                                <option value="@infbact">@infectionBacteria.Name</option>
                            }

                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.InfectionBacteria.ID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="text" id="txtautocomplete" placeholder="Address" class="form-control" value="@Model.Occurence.ReportedLocation" />
                </div>

                @Html.HiddenFor(model => model.Occurence.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Occurence.Latitude, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Occurence.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Occurence.ReportedLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Occurence.ReportedLocation, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Occurence.ID, new { htmlAttributes = new { @class = "form-control" } })

                <div class="form-group">
                    <select class="form-control" id="Occurence_District" name="Occurence.District">
                        <option value="">Select Region/District</option>
                        @foreach (var reg in Model.Regions)
                        {
                            if (Model.Occurence.District == reg.Name)
                            {
                                <option value="@reg.Name" selected>@reg.Country.Name - @reg.Name</option>
                            }
                            else
                            {
                                <option value="@reg.Name">@reg.Country.Name - @reg.Name</option>
                            }
                        }
                    </select>

                    @Html.ValidationMessageFor(model => model.Occurence.District, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        Start Date:
                        <input class="form-control custom-date-control"
                               data-val="true" data-val-date="The field StartDate must be a date."
                               data-val-required="The StartDate field is required." id="StartDate"
                               name="Occurence.StartDate" type="date" value='@Model.Occurence.StartDate.ToString("yyyy-MM-dd")' />
                        @Html.ValidationMessageFor(model => model.Occurence.StartDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        End Date:
                        @if (Model.Occurence.EndDate == null)
                        {
                            <input class="form-control custom-date-control"
                                   data-val="true"
                                   data-val-date="The field EndDate must be a date."
                                   data-datepicker-color="primary"
                                   data-val-required="The EndDate field is required."
                                   id="EndDate" name="Occurence.EndDate" type="date"
                                   value='@DateTime.Now.ToString("yyyy-MM-dd")} '>
                        }
                        else
                        {
                            <input class="form-control custom-date-control"
                                   data-val="true"
                                   data-val-date="The field EndDate must be a date."
                                   data-datepicker-color="primary"
                                   data-val-required="The EndDate field is required."
                                   id="EndDate" name="Occurence.EndDate" type="date"
                                   value='@Model.Occurence.EndDate.ToString("yyyy-MM-dd")'>
                        }
                        @Html.ValidationMessageFor(model => model.Occurence.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        Prevalence:
                        @Html.EditorFor(model => model.Occurence.Prevalence, new { htmlAttributes = new { @class = "form-control", @Value = Model.Occurence.Prevalence, @min = 0 } })
                        @Html.ValidationMessageFor(model => model.Occurence.Prevalence, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        Death Rate:
                        @Html.EditorFor(model => model.Occurence.DeathRate, new { htmlAttributes = new { @class = "form-control", @Value = Model.Occurence.DeathRate, @min = 0 } })
                        @Html.ValidationMessageFor(model => model.Occurence.DeathRate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="">
                    <input type="file" id="Occurence_Attachment" name="Occurence.Attachment" class="form-control" accept=".xls,.xlsx,.csv,.CSV,.png,.jpeg,.jpg,.gif,.doc,.docx,.pdf,.PDF" multiple />
                    @foreach (var i in Model.Occurence.Attachments)
                    {
                        <div class="col-md-10">
                            <a href="@Url.Action("DownloadFile", "Utils")?link=@i.Link&name=@i.Name" target="_blank">@i.Name</a>
                            &nbsp;
                            <a href="@Url.Action("DeleteAttachment", "OccurrenceAttachments")/@i.ID" class="deleteattachment"><i class="fa fa-trash"></i></a>
                        </div>
                    }
                </div>

                <div class="form-group">
                    <div class="justify-content-center text-center col-md-10 max-width-100">
                        @Html.ActionLink("Back to List", "Index")
                        <input type="submit" value="Save" onclick="javascript:document.getElementById('occurrenceForm').submit()" class="create-occurrence-button btn btn-neutral btn-round btn-lg" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYm1VJVWSDiBt5t4oW7CuEbHrW4bVrCI4&libraries=places"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tables').addClass("active");


		var baseUrl = "@Request.Url.Scheme" + "://" + "@Request.Url.Authority" + "@Request.ApplicationPath.TrimEnd('/')";

		$.ajax({
            type: "GET",
            url: baseUrl+"/api/Occurences/Get/@Model.Occurence.ID",
            datatype: "json",
            success: function (data) {
                $("#txtautocomplete").val(data[0].ReportedLocation);
            }
        });
    });

    google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('txtautocomplete'));
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var places = autocomplete.getPlace();
            console.log(places);
            $("#Occurence_ReportedLocation").val(places.formatted_address);
                //$("#District").val(places.address_components[0]["long_name"]);
            $("#Occurence_Latitude").val(places.geometry.location.lat());
            $("#Occurence_Longitude").val(places.geometry.location.lng());
            $("#Occurence_District")[0].value = places.address_components[0]["long_name"];
        });
    }
</script>

