﻿@model IEnumerable<MDRIP.Models.Occurrence>

@{
    ViewBag.Title = "Occurrence";
    ViewBag.NavTitle = " - Report an Occurrence";
}

<h2>Report An Occurrence</h2>

<p>
    @Html.ActionLink("Report the Occurrence of an Infection/Bacteria", "Create")
</p>
@using (Html.BeginForm("Index", "Occurrences", FormMethod.Get))
{
    <p>
        Search by location: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<div class="card">
    <div class="card-body">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col" width="10%" class="tabular-heading">ID</th>
                    <th scope="col" width="10%" class="tabular-heading">Infections/Bacteria</th>
                    <th scope="col" width="20%" class="tabular-heading" @Html.DisplayNameFor(model => model.ReportedLocation)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.District)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.StartDate)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.EndDate)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.Prevalence)</th>
                    <th scope="col" width="10%" class="tabular-heading">@Html.DisplayNameFor(model => model.DeathRate)</th>
                    <th scope="col" width="10%" class="tabular-heading"># Attachments</th>
                    <th scope="col" width="20%" class="tabular-heading">Actions</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.ID)</td>
                        @if (item.Bacteria != null)
                        {
                            <td class="tabular-data">
                                <a href="@Url.Action("Details", "Bacteria", new { id = item.Bacteria.ID })">@item.Bacteria.Name (B)</a>
                            </td>
                        }
                        else if (item.Infection != null)
                        {
                            <td class="tabular-data">
                                <a href="@Url.Action("Details", "Infections", new { id = item.Infection.ID })">@item.Infection.Name (I)</a>
                            </td>
                        }
                        else
                        {
                            <td class="tabular-data"></td>
                        }
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.ReportedLocation)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.District)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.StartDate)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.EndDate)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.Prevalence)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.DeathRate)</td>
                        <td class="tabular-data">@Html.DisplayFor(modelItem => item.Attachments.Count)</td>
                        <td class="tabular-data">@Html.ActionLink("Details", "Details", new { id = item.ID }) | @Html.ActionLink("Edit", "Edit", new { id = item.ID }) | @Html.ActionLink("Delete", "Delete", new { id = item.ID })</td>

                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>