﻿@model IEnumerable<MDRIP.Models.Alert>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Alerts", FormMethod.Get))
{
	<p>
		Search: @Html.TextBox("SearchString")
		<input type="submit" value="Search" />
	</p>
}

@foreach (var item in Model)
{
	<div class="card">
		<div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FullDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.FullDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Importance)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Importance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Date)
                </dd>

            </dl>
			@Html.ActionLink("Edit", "Edit", new { id = item.ID })
			@Html.ActionLink("Delete", "Delete", new { id = item.ID })
		</div>
	</div>
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
		crossorigin="anonymous"></script>
<script>
	$(document).ready(function () {
		$('#tables').addClass("active");
	});
</script>
