﻿<footer class="footer" data-background-color="black">
    <div class=" container ">
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Manage")">My Account</a>
                </li>
                <li>
                    <a href="@Url.Action("Faq", "Home")">FAQ</a>
                </li>
                <li>
                    <a href="@Url.Action("About", "Home")">About Us</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                </li>
                <li>
                    <a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a>
                </li>
            </ul>
        </nav>
        <div class="copyright" id="copyright">
            &copy;
            <script>
                        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>,
            <a href="/" target="_blank">MDRIP</a>
        </div>
    </div>
</footer>