﻿@using MDRIP.helper
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item dropdown" id="account">
            <a class="nav-link dropdown-toggle unclickable" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p>
                    <i class="now-ui-icons users_single-02" aria-hidden="true"></i> Acc: <b class="notranslate">@(Helper.GetFirstName(User))</b>
                </p>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="@Url.Action("Index", "Manage")"><i class="fa fa-user-md" aria-hidden="true"></i> My Account</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
            </div>
        </li>
    }
}
else
{
    <li class="nav-item nav-item-newsize">
        <a class="nav-link" href="@Url.Action("Login", "Account")">
            <i class="fa fa-sign-in-alt"></i>
            <p> Login/Register</p>
        </a>
    </li>
}