﻿<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top " color-on-scroll="400">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" title="MDRIP">
                MDRIP @ViewBag.NavTitle
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar top-bar"></span>
                <span class="navbar-toggler-bar middle-bar"></span>
                <span class="navbar-toggler-bar bottom-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
            <ul class="navbar-nav">

                <li class="nav-item" id="overview">
                    <a class="nav-link" href="@Url.Action("Home","Index")">
                        <i class="fa fa-stack-overflow"></i>
                        <p> Home</p>
                    </a>
                </li>

                <li class="nav-item" id="visualisations">
                    <a class="nav-link" href="@Url.Action("Visualisations","Visualisation")">
                        <i class="fa fa-bar-chart"></i>
                        <p> Visualisations</p>
                    </a>
                </li>

                @if (User.IsInRole("Admin") || User.IsInRole("ResearcherScientist"))
                {
                    <li class="nav-item dropdown" id="tables">
                        <a class="nav-link dropdown-toggle unclickable" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>
                                <i class="fa fa-database" aria-hidden="true"></i>
                            <p class="notranslate">  Database</p>
                            </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" style="font-size:12px;" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "Alerts")">Alerts</a>
                            <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "Antibiotics")">Antibiotics</a>
                            <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "Bacteria")">Bacteria</a>
                            <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "BacterialEcologies")">Bacteria Ecologies</a>

                            @if (User.IsInRole("Admin"))
                            {
                                <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "Centers")">Centers</a>
                                <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "ClinicalInformations")">Clinical Information</a>
                                <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "Countries")">Countries</a>
                            }

                            <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "EmergencyPreparations")">Emergency Preparations</a>
                            <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "Infections")">Infections</a>
                            <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "ManagingInfections")">Manage Infections</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "Regions")">Regions</a>
                            }
                            <a class="dropdown-item" href="@Url.Action("Index", "Occurrences")">Report an infection/bacteria</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="dropdown-item no-padding-top no-padding-bottom" href="@Url.Action("Index", "UserTypes")">User Roles</a>
                            }
                        </div>
                    </li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item" id="admin">
                        <a class="nav-link" href="@Url.Action("Index", "Admin")">
                            <i class="fa fa-key"></i>
                            <p> Admin</p>
                        </a>
                    </li>
                }

                @Html.Partial("_LoginPartial")

                <li class="nav-item">
                    <a class="nav-link unclickable" href="">
                        <div id="google_translate_element"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>