﻿@model MDRIP.Models.EmergencyPreparation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmergencyPreparation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoordinatingHealthRegionalState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatingHealthRegionalState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevelopingDisseminatingInformationToMedicalCommunnity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevelopingDisseminatingInformationToMedicalCommunnity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnersToImplementPHDContainmentMeaseures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnersToImplementPHDContainmentMeaseures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinteWithMCS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinteWithMCS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EpidemiologyInvestigationActivities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EpidemiologyInvestigationActivities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectingAndAnalysingDataToDevelopObjectives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectingAndAnalysingDataToDevelopObjectives)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>