﻿@model IEnumerable<MDRIP.Models.EmergencyPreparation>

@{
    ViewBag.Title = "Index";
}

<h2>Emergency Preparation</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Centers", FormMethod.Get))
    {
    <p>
        @*Genre: @Html.DropDownList("Category","All")*@
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    </p>


    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CoordinatingHealthRegionalState)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.CoordinatingHealthRegionalState)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DevelopingDisseminatingInformationToMedicalCommunnity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.DevelopingDisseminatingInformationToMedicalCommunnity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PartnersToImplementPHDContainmentMeaseures)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.PartnersToImplementPHDContainmentMeaseures)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CoordinteWithMCS)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.CoordinteWithMCS)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EpidemiologyInvestigationActivities)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.EpidemiologyInvestigationActivities)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CollectingAndAnalysingDataToDevelopObjectives)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelitem => item.CollectingAndAnalysingDataToDevelopObjectives)
                    </dd>

                </dl>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
    </script>