﻿@model MDRIP.Models.Infection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Infection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptoms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seasonal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seasonal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pathophysiology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pathophysiology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeOfTransmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeOfTransmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prevention)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prevention)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epidimology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epidimology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History)
        </dd>
        @if (Model.Attachments != null && Model.Attachments.Count > 0)
        {
            <dt>
                Attachments
            </dt>
            foreach (var i in Model.Attachments)
            {
                <dd>
                    <a href="@Url.Action("DownloadFile", "Utils")?link=@i.Link&name=@i.Name" target="_blank">@i.Name</a>
                </dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>