﻿@model IEnumerable<MDRIP.Models.Infection>


<div id="data">
@{
    ViewBag.Title = "Index";
}

<h2>Infections</h2>
<div id="create-new">
    <a href="@Url.Action("Create", "Infections")"><i class="fa fa-plus"></i> @Html.ActionLink("Create New", "Create")</a>
</div>

@using (Html.BeginForm("Index", "Infections", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="15%">@Html.DisplayNameFor(model => model.Name)</th>
                        <th scope="col" width="20%">@Html.DisplayNameFor(model => model.Classification)</th>
                        <th scope="col" width="40%">@Html.DisplayNameFor(model => model.Definition)</th>
                        <th scope="col" width="17.5%" style="text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
                        <td>@Html.DisplayFor(modelItem => item.Classification)</td>
                        <td>@Html.DisplayFor(modelItem => item.Definition)</td>
                        <td>
                            <btn id="action-buttons" class="btn btn-info btn-sm">
                                <a href="@Url.Action("Edit", "Infections", new { id = item.ID })">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </btn>

                            <btn id="action-buttons" class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete","Infections", new { id = item.ID })')">
                                <i class="fa fa-trash fa-lg"></i>
                            </btn>

                            <btn id="action-buttons" class="btn btn-default btn-sm">
                                <a href="@Url.Action("Details", "Infections", new { id = item.ID })">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                            </btn>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>
<script src="~/Scripts/script.js"></script>