﻿@{
    ViewBag.Title = "About Us";
}

<div class="page-header clear-filter" style="">
    <div class="container-fluid">

        <div class="row" style="margin-top:50px">

            <div class="card text-center">
                <div class="vis-card-header">
                    <div class="nav" style="height: 100%;">
                        <li class="nav-item fullhw">
                            <span class="nav-link vis-overview-text">About Us</span>
                        </li>
                    </div>
                </div>
                <div class="card-body">
                    <div id="geographicmap" class="page_content">

                        MDRIP is a database that stores and disseminates information of MDR pathogens 
                        that are causing infections and relevant clinical information.
                        It is helpful for doctors, researchers and scientists including microbiologists and researchers 
                        working in the field of drug designing and development. MDRIP will store information about 
                        infectious diseases with name of causative agent and the type of pathogens/agents responsible for 
                        infections in Pakistan. Information of each disease will store with its types and category. 
                        This will help to aware general public about MDR infections in Pakistan. 
                        Overall, basic purpose of MDRIP is to centralize the data of infectious disease and MDR pathogens from 
                        all over Pakistan.
                        <br /><br />

                        Objectives of MDRIP:
                        <ol>
                            <li>
                                Interactive interface for uploading data and accessing data on infectious diseases in Pakistan associated with MDR pathogens.
                            </li>
                            <li>
                                To provide the online database of infectious diseases of Pakistan that will include
                            </li>
                            <ul>
                                <li>
                                    Bacteria that is responsible for MDR infections in Pakistan.
                                </li>
                                <li>
                                    Statistics of bacteria in different regions of Pakistan.
                                </li>
                                <li>
                                    Incorporation of awareness program in public
                                </li>
                                <li>
                                    Different alerts about infections all over Pakistan.
                                </li>
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>