﻿@{
    ViewBag.Title = "Contact Us";
}

<div class="page-header clear-filter" style="">
    <div class="container-fluid">
        <div class="row" style="margin-top:50px">

            <div class="card text-center">
                <div class="vis-card-header">
                    <div class="nav" style="height: 100%;">
                        <li class="nav-item fullhw">
                            <span class="nav-link vis-overview-text">Contact Us</span>
                        </li>
                    </div>
                </div>
                <div class="card-body">
                    <div id="geographicmap" class="page_content">
                        <ol>
                            <li>
                                <b>Dr. Syed Sikander Azam (Associate Professor)</b><br />
                                Quaid-i-Azam University, Isalamabad <br />
                                <a href="mailto:syedazam2008@gmail.com">syedazam2008@gmail.com</a>
                            </li>
                            <hr />
                            <li>
                                <b>Mr. Ghulam Abbas (PhD Scholar)</b><br />
                                Quaid-i-Azam University, Isalamabad <br />
                                <a href="mailto:bi.abbas@gmail.com">bi.abbas@gmail.com</a>
                            </li>
                            <hr />
                            <li>
                                <b>Affifa Navid (PhD Scholar)</b><br />
                                Quaid-i-Azam University, Isalamabad <br />
                                <a href="mailto:afifanavid.bi@gmail.com">afifanavid.bi@gmail.com</a>
                            </li>
                            <hr />
                            <li>
                                <b>Affifa Navid (PhD Scholar)</b><br />
                                Quaid-i-Azam University, Isalamabad <br />
                                <a href="mailto:afifanavid.bi@gmail.com">afifanavid.bi@gmail.com</a>
                            </li>
                            <hr />
                            <li>
                                <b>Nyla Zaman (PhD Scholar)</b><br />
                                Quaid-i-Azam University, Isalamabad <br />
                                <a href="mailto:nyla.zaman87@gmail.com">nyla.zaman87@gmail.com</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>