﻿@{
    ViewBag.Title = "FAQs";
}

<div class="page-header clear-filter" style="">
    <div class="container-fluid">

        <div class="row" id="vis-row" style="margin-top:80px">

        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>