﻿@{
    ViewBag.Title = "Privacy Policy";
}

<div class="" >
    <div class="container-fluid">

        <div class="row" style="margin-top:50px">

            <div class="card text-center">
                <div class="vis-card-header">
                    <div class="nav" style="height: 100%;">
                        <li class="nav-item fullhw">
                            <span class="nav-link vis-overview-text">Privacy Policy</span>
                        </li>
                    </div>
                </div>
                <div class="card-body" style="overflow-y:auto">
                    <div id="geographicmap" class="page_content" style="overflow-y:auto">
                        <ol>
                            <li>
                                <dl>
                                    <dt>
                                        Introduction
                                    </dt>
                                    <dd>
                                        This website is intended for Pakistani residents only and is subject to all applicable Pakistan laws. It is administered
                                        by [______________]. This Privacy Statement outlines how personal information about users is collected, used, disclosed and
                                        otherwise processed by (“Enter the name of an administrator here”) with respect to user use and interaction via this website.
                                        This Privacy Statement also applies to the personal data we collect offline, such as when you call us or interact with us in person,
                                        such as at medical camp or at a place of hospitals and medical diagnostic labs.
                                    </dd>
                                </dl>

                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        What is Personal Data?
                                    </dt>
                                    <dd>
                                        Personal data is information about an identifiable individual. When users visit our website, then user is required to enter name, company/University/Hospital, user name, password, e-mail address and phone number.
                                        We will use this information to:
                                        <ul>
                                            <li>Verify user identity (for example when user logs in to the database)</li>
                                            <li>Participation in discussion forums</li>
                                            <li>Anticipate and resolve any problems with any services supplied to user</li>
                                            <li>Carry out scientific research and surveys</li>
                                            <li>Customize the service we provide to user</li>
                                            <li>Send user our newsletter</li>
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        Consent to Collection of Data
                                    </dt>
                                    <dd>
                                        By using this website and by voluntarily submitting user personal information to us, then users are consenting to the practices in this Privacy Statement and any applicable terms of use. If you are submitting the personal data of other others, such as patients, we are responsible for obtaining their consent to the disclosure of their information to MDRIP, as may be required by law.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        How does MDRIP Collect Personal Data?
                                    </dt>
                                    <dd>
                                        Generally, we only collect personal data when you provide it to us, through registration, sampling, data collection and completion of forms or e-mails.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        What type of personal data does MDRIP collect?
                                    </dt>
                                    <dd>
                                        Examples of personal data we collect and use are:

                                        Contact information, such as full name, email address, telephone number and mailing address

                                        Usernames and passwords

                                        Expertise and special interests, such as degrees, therapeutic specialty, specific disease expertise, practice setting, years of practice, department

                                        Clinical trial data, including demographic, medical and health information of patients

                                        Sensitive health and patient data provided to MDRIP through adverse event reports, recalls or other notifications

                                        Information you provide when you contact us, provide feedback, make a complaint or other inquiry
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        How do we use the data?
                                    </dt>
                                    <dd>
                                        The data we collect will be used for the purpose of supplying you with the requested. For health care professionals, researchers, scientists and other professionals, the information we collect is primarily to continue and improve our relationship with you. The information collected assists in maintaining MDRIP and managing the database. Other purposes may include:

                                        Creating and managing your user account

                                        Providing you with approved medical or scientific information

                                        Analyze the accuracy and effectiveness or our website and Services, including administer, troubleshoot and enhance the website and Services

                                        Analyze data, identify trends and issues and create statistical reports

                                        Administer contests, promotions and surveys

                                        Test and analyze our Services for efficacy, safety and enhancements

                                        Establish and maintain administrator relationship with users

                                        Responding to inquiries, complaints and other communications

                                        The data, we collect will also be used to improve the content of our website, and may be used to contact you via e-mail or by regular mail, to provide you with information that we believe to be of interest to you, process and store the information provided so that we are able to better understand your needs and how we can improve our products and services and to provide you with health-related information or services that we believe would be of interest to you.

                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        Security policy
                                    </dt>
                                    <dd>
                                        We take reasonable steps to maintain the security of the personally identifiable information that we collect, including limiting the number of people who have physical access to our database servers, as well as installing electronic security systems that guard against unauthorized access. However, no data transmission over the Internet can be guaranteed to be completely secure. Accordingly, we cannot ensure or warrant the security of any information that you transmit to us.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        Changes to our privacy policy
                                    </dt>
                                    <dd>
                                        From time to time, we may change our privacy policies. If we make a change, it will not affect any choices you may have made about any information you gave us before that change. Any changes will be reflected in an updated privacy statement that will be posted on our websites.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        Contacting us about your data
                                    </dt>
                                    <dd>
                                        We will take all reasonable steps to accommodate any other concerns you may have about your data, so if you have any questions, concerns or comments, please contact us via the contact details on <a href="@Url.Action("Contact", "Home")">this page</a>. In particular, if you wish to have a copy of the data we have about you or to correct or update that data, contact us via <a href="@Url.Action("Contact", "Home")">these contact details</a>.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        Complaints
                                    </dt>
                                    <dd>
                                        We are committed to working with you to resolve, quickly and fairly, any complaints you may have about privacy. If you have a complaint, or you want a copy of our Data Privacy Complaints Policy, please contact us via the <a href="@Url.Action("Contact", "Home")">contact details</a>.
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>