﻿@* This file defines the structure of any pages related to the visualisations: the index page and the visualisation tool *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDRIP - @ViewBag.Title</title>
    @Styles.Render("~/Content/newcss")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
<body class="body landing-page-background">
    @Html.Partial("_Navbar")

    <div class="wrapper">
        @RenderBody()
    </div>

    @*<footer class="page-footer font-small blue pt-4">
        <hr />
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mt-md-0 mt-3">
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3 text-center">
                    <h5 class="text-uppercase">Useful Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Url.Action("Index", "Manage")">My Account</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Faq", "Home")">FAQ</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-3 mb-md-0 mb-3 text-center">
                    <h5 class="text-uppercase">Other</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Url.Action("About", "Home")">About Us</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright py-3 text-center">
            <div class="row">
                <div class="col-md-12">
                    © @DateTime.Now.Year: MDRIP
                </div>
            </div>
        </div>

    </footer>*@



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/newbootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.unclickable').click(function (event) {
                event.preventDefault();
            });
        });
    </script>

    <style>
        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
