@model MDRIP.Models.LandingViewModel

@{
    ViewBag.Title = "Home";
}

<div class="page-header clear-filter">
    <style>
        pre {
            width: 100%;
            white-space: initial;
        }

        .article p {
            color: black;
            line-height:0.9em;
            font-weight:500;
        }
    </style>

    @*<div class="container-fluid test-border">*@
    @* Code for the sidebar, also known as the Controls Bar *@
    <div class="home-section" style="width: 15%; height:45%; @*border: 2px solid black;*@ overflow:hidden; z-index:1">
        <div style="padding: 5px; height:100%; box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);">
            <div class="box-title vis-card-header">&nbsp;&nbsp;&nbsp;Alerts</div>
            <div class="alerts overflowy" style="padding: 10px; height:90%;" @*style="padding-bottom:30px; border:2px solid orange; height:50%;"*@>

                <div class="" style="color:black;">
                    @foreach (var alert in Model.Alerts)
                    {
                        <a class="custom-link" href="@Url.Action("Details", "Alerts")?id=@alert.ID">@alert.Name</a>
                        <p class="search-result-type">
                            Effective date: @alert.Date.ToShortDateString()
                            <br />
                            Status: @alert.Importance
                        </p>
                        <p class="search-result-body">@alert.ShortDescription</p>
                    }
                </div>
            </div>
            @*<hr />
                <div class="alerts" style="padding-top:50%;">
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>*@
        </div>
    </div>

    <div class="home-section" style="width: 15%; height:45%; top:55%; @*border: 2px solid black;*@ overflow:hidden; z-index: 2">
        <div style="padding: 5px; height:100%;">
            <div class="box-title vis-card-header">&nbsp;&nbsp;&nbsp;Featured</div>
            <div class="alerts overflowy" style="padding: 10px; height:90%;" @*style="padding-bottom:30px; border:2px solid orange; height:50%;"*@>
                <div class="" color:black;">
                    @foreach (var item in Model.FeaturedItems)
                    {
                        if (!String.IsNullOrEmpty(item.ImagePath))
                        {
                            <img class="featured-img"src="@item.ImagePath"/>
                        }
                        <a class="custom-link featured-link" target="_blank" href="@item.Link">@item.DisplayText</a>
                        <hr/>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="home-section" style="width: 65%; height:94%; left:15%; padding-top:10px;overflow:hidden; z-index: 2">
        <div style="padding: 5px; height:100%;">
            <div class="home-main" style="padding: 10px; height:100%;" @*style="padding-bottom:30px; border:2px solid orange; height:50%;"*@>
                <div class="article overflowy" style="color:black; height: 100%; margin-top:-25px;">
                    @foreach (var article in Model.Articles)
                    {
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(article.Content))
                        <hr />
                    }
                </div>
            </div>
            @*<hr />
                <div class="alerts" style="padding-top:50%;">
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>*@
        </div>
    </div>

    <div class="home-section" style="width: 20%; height:94%; left:80%; overflow:hidden;">
        <div style="padding: 5px; height:100%;">
            @*<div class="box-title-icon"><i class="material-icons">search</i></div>*@
            <div class="box-title vis-card-header">
                &nbsp;&nbsp;&nbsp;
                @*<i class="material-icons icon-format" style="padding-top:5px;">search</i>*@
                Search
            </div>
            <div class="alerts overflowy" style="padding: 10px; height:90%;" @*style="padding-bottom:30px; border:2px solid orange; height:50%;"*@>
                <div  class="" style="color:black; ">
                    @*<form action="/MyController/MyAction" method="post">
                            <div class="input-group" style="max-height:10px">
                                <input id="txtSearch" class="form-control" type="text" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="now-ui-icons search"></i></span>
                                </div>
                            </div>
                        </form>*@

                    <form id="searchDatabaseForm">
                        <div class="input-group searchbox-sidebar">
                            <input type="text" id="queryInput" class="form-control" placeholder="Search..." style="max-height:10px;border-radius: 10px 0px 0px 10px">
                            <span class="input-group-btn" style="top:-4px; padding:0px">
                                <button class="btn btn-primary btn-icon btn-search" type="submit" id="searchDatabaseButton"><i class="fa fa-search" style="position:relative; top:-8px;"></i></button>
                            </span>

                        </div>
                    </form>
                    <div id="search-results-div">

                    </div>


                </div>
            </div>
            @*<hr />
                <div class="alerts" style="padding-top:50%;">
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>*@
        </div>
    </div>

    @*</div>*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <script>
    $(document).ready(function () {
        //if ('@ViewBag.HasAlert' === "False") {
        //    document.getElementById('firstcol').setAttribute("class", "col-md-12");
        //    document.getElementById('secondcol').style.display = "none";
        //}
        $('#overview').addClass("active");
        });


        $('#searchDatabaseForm').submit(function (event) {
            event.preventDefault();

            var resultsDiv = document.getElementById("search-results-div");

            var statusSpinner = document.getElementById('searchDatabaseButton').firstChild;
            statusSpinner.setAttribute('class', 'fa fa-spinner fa-spin');

            var input = document.getElementById('queryInput').value;
            //var infectionResultsList = $('#infectionsResultsList');

            //var newInfectionsResultsBody = document.createElement('tbody');
            //newInfectionsResultsBody.setAttribute("id", "infectionsResultsList");

            var url = '@Url.Action("API/SearchDatabase", "api")' + '?query=' + input;

            input = input == null ? "" : input;

            var finalResult = "<i>No results found...</i>";

            $.getJSON(url, { query: input }, function (results) {
                if (results != null && !jQuery.isEmptyObject(results)) {
                    finalResult = "";

                    //for (var key in results) {
                    //    for (var item in results[key]) {
                    //        console.log(results[key]["Key"]);
                    //    }
                    //}


                    $.each(results, function (index, result) {
                        finalResult += "<a class='custom-link search-result' href='" + result.Link + "'>" +
                            result.Name + "</a><br/><p class='search-result-type'><i>Type: " +
                            result.Type + "</i></p><p class='search-result-body'>" +
                            result.Definition + "</p>";
                    });
                }
                statusSpinner.setAttribute('class', 'fa fa-search');
                resultsDiv.innerHTML = finalResult;
            });
        });


    
    </script>