@model IEnumerable<MDRIP.Models.Alert>


@{
	ViewBag.Title = "Home";
}

<div class="page-header clear-filter">
    <div class="container-fluid test-border">
        @* Code for the sidebar, also known as the Controls Bar *@
        <div class="sidebarheight" style="width: 20%">
            <div style="padding: 5px">
                    <div class="box-title">Alerts T</div>
                <div class="alerts" style="padding: 10px"@*style="padding-bottom:30px; border:2px solid orange; height:50%;"*@>
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>
                @*<hr />
                <div class="alerts" style="padding-top:50%;">
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>*@
            </div>
        </div>

        <div class="sidebarheight" style="width: 60%; left:20%">
            <div style="padding: 15px">
                <div class="alerts" @*style="padding-bottom:30px; border:2px solid orange; height:50%;"*@>
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>
                @*<hr />
                <div class="alerts" style="padding-top:50%;">
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>*@
            </div>
        </div>

        <div class="sidebarheight" style="width: 20%; left:80%">
            <div style="padding: 15px">
                <div class="alerts" @*style="padding-bottom:30px; border:2px solid orange; height:50%;"*@>
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>
                @*<hr />
                <div class="alerts" style="padding-top:50%;">
                    <div class="vis-nav-icon box-title">Alerts</div>
                    <br />
                    <div class="vis-nav-item">
                        test
                    </div>
                </div>*@
            </div>
        </div>


        <div class="row" id="vis-row" @*style="margin-top:80px"*@>

            @* This takes 5/6 of the page width for the overviews of the visualisations *@
            <div id="firstcol" class="col-md-10">
                <div class="row padding-left-right">

                    @* The overview of the geographical dot map *@
                    <div class="col-md-4">
                        <a href="@Url.Action("Visualisations", "Visualisation")?id=geographicmap">
                            <div class="card text-center vis-item">
                                <div class="vis-card-header">
                                    <div class="nav" style="height: 100%;">
                                        <li class="nav-item fullhw">
                                            <span class="nav-link vis-overview-text">Map</span>
                                        </li>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="geographicmap" class="viscomponent"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    @* The overview of the Choropleth Map *@
                    <div class="col-md-4">
                        <a href="@Url.Action("Visualisations", "Visualisation")?id=choroplethmap">
                            <div class="card text-center vis-item">
                                <div class="vis-card-header">
                                    <div class="nav" style="height: 100%;">
                                        <li class="nav-item fullhw">
                                            <span class="nav-link vis-overview-text">Choropleth Map</span>
                                        </li>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="choroplethmap" class="viscomponent"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    @* The overview of the scatter plot *@
                    <div class="col-md-4">
                        <a href="@Url.Action("Visualisations", "Visualisation")?id=scatter">
                            <div class="card text-center vis-item">
                                <div class="vis-card-header">
                                    <div class="nav fullh">
                                        <li class="nav-item fullhw">
                                            <span class="nav-link vis-overview-text">Scatter Plot</span>
                                        </li>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="scatterplot" class="viscomponent"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                @* The overview of the line graph *@
                <div class="row padding-left-right">
                    <div class="col-md-4">
                        <a href="@Url.Action("Visualisations", "Visualisation")?id=linegraph">
                            <div class="card text-center vis-item">
                                <div class="vis-card-header">
                                    <div class="nav fullh">
                                        <li class="nav-item fullhw">
                                            <span class="nav-link vis-overview-text">Line Graph</span>
                                        </li>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="linegraph" class="viscomponent"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    @* The overview of the barchart *@
                    <div class="col-md-4">
                        <a href="@Url.Action("Visualisations", "Visualisation")?id=barchart">
                            <div class="card text-center vis-item">
                                <div class="vis-card-header">
                                    <div class="nav fullh">
                                        <li class="nav-item fullhw">
                                            <span class="nav-link vis-overview-text">Bar Chart</span>
                                        </li>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="bar" class="viscomponent"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    @* The overview of the piechart/donut chart *@
                    <div class="col-md-4">
                        <a href="@Url.Action("Visualisations", "Visualisation")?id=piechart">
                            <div class="card text-center vis-item">
                                <div class="vis-card-header">
                                    <div class="nav fullh">
                                        <li class="nav-item fullhw">
                                            <span class="nav-link vis-overview-text">Pie Chart</span>
                                        </li>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="donut" class="viscomponent"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            @* Alerts Pane*@
            <div id="secondcol" class="col-md-2">
                <h4 style="color:black">Health Alerts</h4>
                @foreach (var alert in Model)
                {
                    <a href="@Url.Action("Details", "Alerts")?id=@alert.ID">
                        <div class="card vis-item">
                            <div class="card-body">
                                <div class="card-title" style="color:black; font-weight:600">@alert.Name</div>
                                <div class="card-text" style="color:black">
                                    <table style="width:100%">
                                        <tr>
                                            <td><b>Description: </b>@alert.ShortDescription</td>
                                        </tr>
                                        <tr>
                                            <td><b>Date: </b>@alert.Date.ToShortDateString()</td>

                                        </tr>
                                        <tr>
                                            <td><b>Risk: </b>  @alert.Importance</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>

    </div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			crossorigin="anonymous"></script>

    @* The scripts needed for the visualisations overview *@
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script src="~/Scripts/script/raphael.min.js"></script>
	<script src="~/Scripts/script/morris.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


	<script>
    $(document).ready(function () {
        if ('@ViewBag.HasAlert' === "False") {
            document.getElementById('firstcol').setAttribute("class", "col-md-12");
            document.getElementById('secondcol').style.display = "none";
        }
        $('#overview').addClass("active");
    });

    // Line Graph code
    Morris.Line({
        element: 'linegraph',
        data: [
            { x: '2018-01', y: 100 },
            { x: '2018-02', y: 0 },
            { x: '2018-03', y: 0},
            { x: '2018-04', y: 345 },
            { x: '2018-05', y: 0 },
            { x: '2018-06', y: 200 },
            { x: '2018-07', y: 50 },
            { x: '2018-08', y: 0 }
        ],
        xkey: 'x',
        ykeys: ['y'],
        smooth: false,
        hideHover: 'auto',
        axes: true,
        grid: true,
        labels: ['Prevalence']
    });

    // Barchart from MorrisJs
    Morris.Bar({
        element: 'bar',
        data: [
            { y: 'Region 1', a: 100},
            { y: 'Region 2', a: 75},
            { y: 'Region 3', a: 50},
            { y: 'Region 4', a: 75},
            { y: 'Region 5', a: 50},
            { y: 'Region 6', a: 75},
            { y: 'Region 7', a: 100 }
        ],
        xkey: 'y',
        ykeys: ['a'],
        hideHover: 'auto',
        labels: ['Prevalence']
    });

    // Donut/piechart code from MorrisJs
    Morris.Donut({
      element: 'donut',
      data: [
          { label: "Infection 1", value: 12 },
          { label: "Infection 2", value: 30 },
          { label: "Infection 3", value: 20 },
          { label: "Infection 4", value: 20 }
      ]
    });

    // Scatter plot code
    var regions = ['Region1', 'Region2', 'Region3', 'Region4', 'Region5', 'Region6']
    var trace1 = {
        x: regions,
        y: [1, 2, 3,4 ,5 ],
        mode: 'markers',
        type: 'scatter',
        name: 'Infection A',
        text: ['A-1', 'A-2', 'A-3', 'A-4', 'A-5'],
        marker: { size: 12 }
    };

    var trace2 = {
        x: regions,
        y: [1, 3, 4, 5, 6],
        mode: 'markers',
        type: 'scatter',
        name: 'Infection B',
        text: ['B-a', 'B-b', 'B-c', 'B-d', 'B-e'],
        marker: { size: 12 }
    };

    var data = [ trace1, trace2];

    var layout = {
      xaxis: {
        range: [ -1, 6 ]
      },
      yaxis: {
        range: [0, 8]
      },
      title:'Prevalence at Different Regions'
    };

    Plotly.newPlot('scatterplot', data, layout);

    // Renders the Choropleth map and geographical dot map from Google Map API
        function renderMaps() {
            // Properties of the map - sourced from Google to define the format of Maps
            var mapProp = {
                    center: new google.maps.LatLng(30.3, 69.3),
                    zoom: 5,
                    styles: [
                        {
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        }
                    ]
            };

            // Array of colours defined for the choropleth overview map. Sourced from ColorBrewer.
            // http://colorbrewer2.org/#type=sequential&scheme=OrRd&n=9
	        var Colours = ['#fff7ec','#fee8c8','#fdd49e','#fdbb84','#fc8d59','#ef6548','#d7301f','#b30000','#7f0000'];

            // mapOne is for the choropleth map
            var mapOne = new google.maps.Map(document.getElementById("choroplethmap"), mapProp);
            var infowindow = new google.maps.InfoWindow();

            // a popup that will appear when a polygon is selected (that is when mouse hovers on a polygon)
            mapOne.data.addListener('mouseover', function (event) {
                infowindow.setContent("<div style='width:auto; color: #0f0f0f'>" +
                    "<table>" +
                    "<tr> <td>Location: </td><td>" + event.feature.getProperty('districts') + ", " + event.feature.getProperty('province_territory') + "</td>" +
                    "<tr><td>Prevalence: </td><td>12</td></tr>" +
                    "<tr><td>Death Rate: </td><td>13</td></tr>" +
                    "</table></div>");
                mapOne.data.revertStyle();
                mapOne.data.overrideStyle(event.feature, { strokeWeight: 2 })
                infowindow.setPosition(event.latLng);
                infowindow.setOptions({ pixelOffset: new google.maps.Size(0, 0) });
                infowindow.open(mapOne);
            });

            // pakistan.json contains the bounding coordinates for the regions in Pakistan
            mapOne.data.loadGeoJson('/Assets/pakistan.json');

            // Giving each polygon a random colour
            mapOne.data.setStyle(function (feature) {
                var index = Math.round(Math.random() * 1000) % 9;
                var color = Colours[index];
                return {
                    fillColor: color,
                    strokeWeight: 0.5,
                    fillOpacity: 1.0
                };
            });

            ///////////////////////////////////////////////////

            // mapTwo is the geographical dot map
            var mapTwo = new google.maps.Map(document.getElementById("geographicmap"), mapProp);

            // some random coordinates in Pakistan for dots
            var points = [
                { lat: 30.02, lng: 71.33 },
                { lat: 30.23, lng: 69.81 },
                { lat: 29.46, lng: 70.29 },
                { lat: 32.33, lng: 70.91 },
                { lat: 33.17, lng: 72.46 },
                { lat: 34.06, lng: 72.08 },
                { lat: 31.18, lng: 70.09 },
                { lat: 31.46, lng: 72.87 },
                { lat: 29.57, lng: 69.39 },
                { lat: 30.31, lng: 70.09 },
                { lat: 27.25, lng: 68.61 }
            ];

            // infowindow is the popup appearing when a dot is clicked
            var infowindow = new google.maps.InfoWindow({
                maxWidth: 300
            });

            // adding each dot to the map
            for (var i in points) {
                var point = points[i];
                var opacity = Math.random();
                opacity = opacity < 0.2 ? 0.2 : opacity;
                var marker = new google.maps.Marker({
                    position: { lat: point["lat"], lng: point["lng"] },
                    map: mapTwo,
                    icon: getCircle(4, opacity)
                });
                contentString = '<div id="content" style="color:black">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<h5 id="firstHeading" class="firstHeading"> Some Infection </h5>' +
                    '<div id="bodyContent">' +
                    '<p><b>Prevalence: 10 (Total in this region: 18)</b><br/>' +
                    '<b>Death Rate: 5 (Total in this region: 6)</b><br/>' +
                    '<b>Type: Infection</b><br/>' +
                    '<p>Location: Pakistan</p>' +
                    '<button type="button"  class="btn btn-primary"> See All Details </button >' +
                    '</div>' +
                    '</div>';

                google.maps.event.addListener(marker, 'click', (function (marker, content) {
                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(mapTwo, marker);
                    }
                })(marker, contentString));
            }
        }

    // Function to return the circles to be placed on the geographical dot map
    function getCircle(magnitude, opacity) {
        return {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: 'red',
            fillOpacity: opacity,
            scale: Math.pow(2, magnitude) / 2,
            strokeColor: 'black',
            strokeWeight: .6
        };
    }
	</script>
    @* The Google Map API *@
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb6BqMVbPU5a6zxYg88S7AQcfoPbkhEaU&callback=renderMaps"></script>
