@model IEnumerable<MDRIP.Models.Country>

@{
    ViewBag.Title = "Visualisations";
}
<style>
    .body {
        overflow-y: hidden;
    }
</style>

<div class="page-header clear-filter">

    <div style="margin-top:65px;" class="calRemainingHeight">

        @* Code for the sidebar, also known as the Controls Bar *@
        <div class="sidebarheight" style="width: 20%">
            <div style="padding: 15px">
                <div style="padding-bottom:30px">
                    <div class="vis-nav-icon"><li class="fa fa-bar-chart"></li>@*Visualisation:*@</div>
                    <div class="vis-nav-item">
                        <select class="form-control input-sidebar" id="chartSelection" style="border-radius: 100px">
                            <option>Select a Visualisation</option>
                            <option>Bar/Pie Chart</option>
                            <option>Choropleth Map</option>
                            <option>Geographic Map</option>
                            <option>Line Graph</option>
                            @*<option>Pie Chart</option>*@
                            <option>Scatter Plot</option>
                        </select>
                    </div>
                </div>
                <hr style="clear: both" />
                <div>
                    <form id="searchInfectionForm">
                        <div class="vis-nav-icon"><span class="progress-badge"><i class="fa fa-stethoscope" aria-hidden="true"></i>@*Infection:*@</span></div>

                        <div class="input-group input-sidebar vis-nav-item">

                            <input type="text" class="form-control" placeholder="Search Infection/Bacteria..." id="infectionTextInput">
                            <span class="input-group-btn" style="padding:0">
                                <button class="btn btn-primary btn-icon btn-sidebar" type="submit" id="searchInfectionButton"><i class="fa fa-search"></i></button>
                            </span>

                        </div>
                    </form>
                </div>

                <div>
                    <div class="vis-nav-icon"><span class="progress-badge"> &nbsp;@*<i class="fa fa-list-ol" aria-hidden="true"></i>*@@*Results:*@</span></div>

                    <div class="input-group table-result-bg vis-nav-item" style="max-height: 100px;min-height:100px; overflow-y: auto;">
                        <table>
                            <tbody id="infectionsResultsList">
                                <tr><td><i>Results for infections/bacteria search</i></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="vis-nav-icon"><span class="progress-badge"> &nbsp;@*<i class="fa fa-list-ol" aria-hidden="true"></i>*@@*Results:*@</span></div>
                    <div class="">
                        <div style="float:left">
                            <a href="#" id="selectAllInfections" onclick="selectAll('infectionsResultsList')" style="font-size:12px; color:cornflowerblue; text-decoration:underline">Select All Results&nbsp;</a>
                        </div>
                        <div style="float:right">
                            <i>Status: </i><i id="searchInfectionStatus" class="fa fa-pencil"></i>
                        </div>
                    </div>
                </div>

                <hr style="clear: both; padding-top:10px" />

                <div>
                    <div class="vis-nav-icon"><i class="fa fa-globe" aria-hidden="true"></i>@*Country:*@</div>
                    <div class="input-group vis-nav-item">
                        <select class="form-control input-sidebar" id="countryDropdown">
                            <option>Select a Country</option>
                            @foreach (var item in Model)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div>
                    <div class="vis-nav-icon"><span class="progress-badge"> &nbsp;@*Results:*@</span></div>

                    <div class="input-group table-result-bg vis-nav-item" style="max-height: 100px; min-height:100px; overflow-y: auto;">
                        <table>
                            <tbody id="regionsResultsList">
                                <tr><td><i>Select a country to see its regions</i></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="vis-nav-icon"><span class="progress-badge"> &nbsp;@*<i class="fa fa-list-ol" aria-hidden="true"></i>*@@*Results:*@</span></div>
                    <div class="">
                        <div style="float:left">
                            <a href="#" onclick="selectAll('regionsResultsList')" style="font-size:12px; color:cornflowerblue; text-decoration:underline">Select All Regions</a>
                        </div>
                        <div style="float:right">
                            <i>Status: </i><i id="countryChangeStatus" class="fa fa-pencil"></i>
                        </div>
                    </div>
                </div>

                <hr style="clear: both" />

                <div style="padding-top: 0px">
                    <div class="input-sidebar" style="width: 30%; float: left"><i class="fa fa-calendar"></i> From:</div>
                    <div style="float: left; width:70%">
                        <div class="input-group input-sidebar">
                            <input type="date" class="form-control" id="fromDateChoice" value="@DateTime.Now.Year-01-01" data-datepicker-color="primary">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="input-sidebar" style="float: left; width: 30%"><li class="fa fa-calendar"></li> To:</div>
                    <div style="float: left; width: 70%">
                        <div class="input-group input-sidebar">
                            <input type="date" class="form-control" id="toDateChoice" value="@DateTime.Now.Year-@DateTime.Now.Month.ToString().PadLeft(2, '0')-@DateTime.Now.Day.ToString().PadLeft(2, '0')" data-datepicker-color="primary">
                        </div>
                    </div>
                </div>

                <hr style="clear: both" />

                <div>
                    <div class="input-sidebar" style="width:100%">
                        <button style="width:100%" class="btn btn-primary btn-visnav refreshVisualisationButton"><i class="fa fa-refresh"> </i> Refresh</button>
                    </div>
                </div>

                <hr style="clear: both" />

            </div>
        </div>

        <div class="visualisation-content" style="width: 80%; left:20%; top:65px">
            <div class="container-fluid">

                @* Code for the parameters bar *@
                <div class="row vis-nav">
                    <div class="col-md-11 bold">

                        <div id="prevalence_div">
                            <Button style="cursor: not-allowed;" id="parameterFromDate" class="vis-badge vis-badge-date vis-badge-selected update-vis"><i class="fa fa-calendar"></i> From: 01/01/@DateTime.Now.Year</Button>
                            <Button style="cursor: not-allowed;" id="parameterToDate" class="vis-badge vis-badge-date vis-badge-selected update-vis"><i class="fa fa-calendar"></i> To:   @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</Button>
                            <Button id="parameterPrevalence" class="vis-badge vis-badge-rate vis-badge-selected selectedRate update-vis">Prevalence</Button>
                            <button id="parameterDeathRate" class="vis-badge vis-badge-rate vis-badge-notselected selectedRate update-vis">Death Rate</button>
                            <button id="parameterBoth" class="vis-badge vis-badge-rate vis-badge-notselected selectedRate update-vis" style="display:none">Prevalence and Death Rate</button>
                        </div>
                        <hr style="margin: 5px;border-width: 1px;" />
                        <div id="infections_div" style="overflow:auto;height:40px; max-width:100%;">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i> Selected:
                        </div>
                        <hr style="margin: 5px;border-width: 1px;" />
                        <div id="regions_div" style="overflow:auto;height:40px; max-width:100%;">
                            <i class="fa fa-globe" aria-hidden="true"></i> Selected:
                        </div>
                    </div>
                    <div class="col-md-1">
                        <span class="input-group-btn ">
                            <button class="btn btn-primary btn-icon btn-visnav btn-tooltip refreshVisualisationButton smallbtn" style="border-radius:100px;" id="refresh-vis-button" data-toggle="tooltip" data-placement="bottom" data-container="body" data-animation="true" data-original-title="Refresh Visualisation" type="button"><i class="fa fa-refresh"></i></button>
                        </span>
                        <span class="input-group-btn ">
                            <button class="btn btn-primary btn-icon btn-visnav btn-tooltip smallbtn" style="border-radius:100px" data-toggle="modal" data-target="#noticeModal" data-container="body" data-animation="true" type="button"> <i class="fa fa-question"></i></button>
                        </span>
                        <span class="input-group-btn ">
                            <button class="btn btn-primary btn-icon btn-visnav btn-tooltip smallbtn" onclick="window.location.reload()" style="border-radius:100px" data-toggle="tooltip" data-placement="bottom" data-container="body" data-animation="true" data-original-title="Refresh Page" type="button"> <i class="fa fa-undo"></i></button>
                        </span>
                    </div>
                </div>


                @* Code for the visualisation box *@
                <div class="row remainingheight" style="padding:0; overflow-y:auto">
                    <div class="col-md-12" id="visualisation" style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-md-12 scale" id="scale" style="display:none">
                        <table style="height:100px; font-weight:bold; border-radius:5px">
                            <tr style="background:#deebf7;"><th></th><th>Scale</th></tr>
                            <tr style="height:11%">
                                <td style="background:#fff7ec; width:25%"></td>
                                <td id="scaleOne" style="background:#deebf7">0-10</td>
                            </tr>
                            <tr style="height:11%;">
                                <td style="background:#fee8c8; width:25%"></td>
                                <td id="scaleTwo" style="background:#deebf7">11-20</td>
                            </tr>
                            <tr style="height:11%">
                                <td style="background:#fdd49e; width:25%"></td>
                                <td id="scaleThree" style="background:#deebf7">21-30</td>
                            </tr>
                            <tr style="height:11%">
                                <td style="background:#fdbb84; width:25%"></td>
                                <td id="scaleFour" style="background:#deebf7">31-40</td>
                            </tr>
                            <tr style="height:11%">
                                <td style="background:#fc8d59; width:25%"></td>
                                <td id="scaleFive" style="background:#deebf7">41-50</td>
                            </tr>
                            <tr style="height:11%">
                                <td style="background:#ef6548; width:25%"></td>
                                <td id="scaleSix" style="background:#deebf7">51-60</td>
                            </tr>
                            <tr style="height:11%">
                                <td style="background:#d7301f; width:25%"></td>
                                <td id="scaleSeven" style="background:#deebf7">61-70</td>
                            </tr>
                            <tr style="height:11%">
                                <td style="background:#b30000; width:25%"></td>
                                <td id="scaleEight" style="background:#deebf7">71-80</td>
                            </tr>

                            <tr style="height:11%">
                                <td style="background:#7f0000; width:25%"></td>
                                <td id="scaleNine" style="background:#deebf7">81-90</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 notification notification-info" id="notification">
                        <i>No notification...</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal to show help -->
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h5 class="modal-title" id="helpModal">How To Visualise Data?</h5>
            </div>
            <div class="modal-body">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Parameters Bar</strong>
                            <p style="color:black; font-size:15px; font-weight:400">
                                This bar is just above the visualisation, containing all the visualisations being used for the visualisation. Parameters (except the dates) can
                                be toggled on and off. Toggled on parameters are denoted by a red shadow and they are being considered for the visualisation. Parameters can be
                                deleted by clicking on its delete button.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Refresh Button</strong>
                            <p style="color:black; font-size:15px; font-weight:400">
                                The visualisation uses the cached data, which is based on the parameters in the parameters bar, stored in your browser.
                                Pressing this button will update the cached data. This is to be used only if new parameters have been added to the parameters bar or if
                                the start/end date for the visualisation have been changed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-11">
                            <strong>1. Select a Visualisation</strong>
                            <p style="color:black; font-size:15px; font-weight:400">
                                On the left hand side, there is the controls bar. Choose a visualisation available in the dropdown menu.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>2. Search Some Infections/Bacteria</strong>
                            <p style="color:black; font-size:15px; font-weight:400">
                                The controls bar allows you to search infections/bacteria. Clicking on a result will add it to the parameters bar (parameters bar
                                contains the selected infections/bacteria and regions that are being used for the visualisation).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>3. Select Some Regions</strong>
                            <p style="color:black; font-size:15px; font-weight:400">
                                The controls bar also allows you to select regions that will go in the parameters bar. Choose a country from the dropdown menu and then,
                                all regions for the selected country will appear. To select various countries, choose the countries and for each of them, select all the regions
                                (there is an option to select all regions for a country).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>4. Choose Starting and End Date</strong>
                            <p style="color:black; font-size:15px; font-weight:400">
                                This is a timeframe to be considered for the visusalisation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>5. Choose Starting and End Date</strong>
                            <p style="color:black; font-size:15px; font-weight:400">
                                The "Refresh" button will update the cached information needed to visualise the data.
                            </p>
                        </div>
                    </div>
                </div>

                <p style="color:black; font-size:15px; font-weight:400">
                    If you have more questions, don't hesitate to use the <a href="#">Contact Us</a> form. Thank you.
                </p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for see all details of a data point on geographic map-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal to show error. This was replaced with the sweetalert.js -->
@*<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight:bolder">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#errorModal" id="errorModalButton" style="display:none"></button>*@


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="~/Scripts/script/morris.min.js"></script>
<script src="~/Scripts/script/raphael.min.js"></script>
<script src="~/Scripts/script/visualisation.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    var SendingData = "";
    var ReceivedData = "";
    var ModalDetails = "";
    $(document).ready(function () {
        $('#visualisations').addClass("active");
        var selectedItem = '@ViewBag.Id';

        // Determining if a visualisation was clicked on the overview page
        switch (selectedItem) {
            case "piechart":
            case "barchart":
                selectedItem = "Bar/Pie Chart";
                //barchart();//donut();
                break;
            case "scatter":
                selectedItem = "Scatter Plot";
                //scatter();
                break;
            case "linegraph":
                selectedItem = "Line Graph";
                //lineGraph();
                break;
            case "choroplethmap":
                selectedItem = "Choropleth Map";
                choropleth();
                break;
            case "geographicmap":
                selectedItem = "Geographic Map";
                //geographicmap();
                break;
            default:
        }

        // select the visualisation automatically in the dropdown
        var select = document.getElementById('chartSelection');
        for (var i = 0; i < select.options.length; ++i) {
            if (select.options[i].text === selectedItem)
                select.options[i].selected = true;
        }

        // making the rate buttons clickable
        toggleInfectionsAndRegions("selectedRate");

        // handle click event for refresh buttons
        // it gets the selected dates, selected infections/bacteria, selected regions and send those to the server in an ajax call
        // and it wait for a response
        // Ajax calls prevent the page from reloading - bandwidth friendly
        var refreshButtons = document.getElementsByClassName("refreshVisualisationButton");
        $.each(refreshButtons, function (index, button) {
            button.addEventListener('click', function () {

                $.each(refreshButtons, function (index, b) {
                    var refreshIcon = b.getElementsByTagName("i")[0];
                    refreshIcon.setAttribute("class", "fa fa-refresh fa-spin");
                });
                var parameterFromDate = document.getElementById('parameterFromDate');
                var chosenFromDate = document.getElementById('fromDateChoice').value;
                parameterFromDate.innerHTML = "<li class='fa fa-calendar'> </li> From: " + chosenFromDate;
                parameterFromDate.setAttribute("data-value", chosenFromDate);

                var chosenToDate = document.getElementById('toDateChoice').value;
                var parameterToDate = document.getElementById('parameterToDate');
                parameterToDate.innerHTML = "<li class='fa fa-calendar'> </li> To: " + chosenToDate;
                parameterToDate.setAttribute("data-value", chosenToDate);

                var fromDateVar = new Date(chosenFromDate);
                var toDateVar = new Date(chosenToDate);
                console.log(fromDateVar);
                console.log(toDateVar);
                console.log(fromDateVar >= toDateVar);
                if (fromDateVar >= toDateVar) {
                    showErrorInModal("The start date should be before the end date.");
                    $.each(refreshButtons, function (index, b) {
                        var refreshIcon = b.getElementsByTagName("i")[0];
                        refreshIcon.setAttribute("class", "fa fa-exclamation-triangle");
                    });
                    return;
                }

                infections = [];
                infIds = [];
                bacteria = [];
                bactIds = [];
                var selectedInfections = document.getElementById('infections_div').getElementsByTagName('button');
                $.each(selectedInfections, function (index, button) {
                    if (button.getAttribute("data-type") === "I") {
                        infections.push(button.getAttribute("data-id")); // was data-id
                        infIds.push(button.getAttribute("data-index"));
                    } else {
                        bacteria.push(button.getAttribute("data-id")); // was data-id
                        bactIds.push(button.getAttribute("data-index"));
                    }

                });
                regions = [];
                regIds = [];
                var selectedRegions = document.getElementById('regions_div').getElementsByTagName('button');
                $.each(selectedRegions, function (index, button) {
                    regions.push(button.getAttribute("data-id")); //was data-id
                    regIds.push(button.getAttribute("data-index"));
                });

                window.SendingData = {
                    Infections: infIds,
                    Bacteria: bactIds,
                    Regions: regIds,
                    StartDate: chosenFromDate,
                    EndDate: chosenToDate
                };

                var url = '@Url.Action("API/GetVisualisationsData", "api")'
                $.ajax({
                    url: url,
                    type: "POST",
                    data: window.SendingData,
                    dataType: 'json',
                    success: function (data) {
                        window.ReceivedData = data;
                        $.each(refreshButtons, function (index, b) {
                            var refreshIcon = b.getElementsByTagName("i")[0];
                            refreshIcon.setAttribute("class", "fa fa-refresh");
                        });
                        var visNotSelected = $('#chartSelection').val() == "Select a Visualisation";
                        displayNotification("Success", "Success! " + (visNotSelected ? "Please choose a visualisation." : ""));
                        if (visNotSelected) {
                            // showErrorInModal("Select a visualisation from the dropdown on the left hand-side.");
                            swal("Done. Please Select a visualisation!", "Visualisation can be selected from the dropdown on the left hand-side.", "success");
                        }
                        refreshVis(data);
                    },
                    error: function (data) {
                        $.each(refreshButtons, function (index, b) {
                            var refreshIcon = b.getElementsByTagName("i")[0];
                            refreshIcon.setAttribute("class", "fa fa-exclamation-triangle");
                        });
                        displayNotification("warning", "Please check the parameters. There should be atleast one infection/bacteria and a region.");
                        showErrorInModal("Please check the parameters. Atleast one infection/bacteria and a region must be selected. In addition, "+
                            "select a valid time period.");
                    }
                });

            });
        });

        $('#fromDateChoice').change(function () {
            displayNotification("warning", "Please click on the Refresh button!");
        });
        $('#toDateChoice').change(function () {
            displayNotification("warning", "Please click on the Refresh button!");
        });

        // When a country is selected from the dropdown, it fetches its regions in an ajax call and render them on the frontend
        $('#countryDropdown').change(function () {
            var statusSpinner = document.getElementById('countryChangeStatus');
            statusSpinner.setAttribute('class', 'fa fa-spinner fa-spin');

            var input = $(this).val();
            var regionResultsList = $('#regionsResultsList');

            var newRegionsResultsBody = document.createElement('tbody');
            newRegionsResultsBody.setAttribute("id", "regionsResultsList");

            var url = '@Url.Action("API/SearchRegion", "api")' + '?id=' + input;

            $.getJSON(url, {}, function (regions) {
                if (regions != null && !jQuery.isEmptyObject(regions)) {
                    $.each(regions, function (index, region) {
                        var tr = document.createElement('tr');
                        var td = document.createElement('td');
                        td.appendChild(document.createTextNode(region.Name));
                        td.setAttribute("data-name", region.Name);
                        td.setAttribute("data-index", region.ID);
                        td.setAttribute("class", "region_result_row");
                        td.addEventListener('click', function regClick() {
                            document.getElementById('regions_div').innerHTML += '<button data-id="' + $(this).attr('data-name') + '" data-index="' + $(this).attr('data-index') +'" class="vis-badge vis-badge-region vis-badge-selected selectedRegion update-vis">' + $(this).attr('data-name') + ' <hr class="vis-vr">&nbsp;<a onclick="deleteParent(this)" href="#" style="color:black;" class="fa fa-trash"></a></button> ';
                            toggleInfectionsAndRegions("selectedRegion");
                            td.removeEventListener('click', regClick);
                            displayNotification("warning", "Please click on the Refresh button!");
                        });
                        tr.appendChild(td);
                        newRegionsResultsBody.appendChild(tr);
                    });
                } else {
                    var tr = document.createElement('tr');
                    var td = document.createElement('td');
                    td.appendChild(document.createTextNode("None found!"));
                    td.setAttribute("style", "font-style:italic");
                    tr.appendChild(td);
                    newRegionsResultsBody.appendChild(tr);
                }
                statusSpinner.setAttribute('class', 'fa fa-check-circle');
            });
            regionResultsList.replaceWith(newRegionsResultsBody);
        });

        // When an infection or a bacteria is searched, ajax call is performed to return the results
        $('#searchInfectionForm').submit(function (event) {
            event.preventDefault();

            var statusSpinner = document.getElementById('searchInfectionStatus');
            statusSpinner.setAttribute('class', 'fa fa-spinner fa-spin');

            var input = document.getElementById('infectionTextInput').value;
            var infectionResultsList = $('#infectionsResultsList');

            var newInfectionsResultsBody = document.createElement('tbody');
            newInfectionsResultsBody.setAttribute("id", "infectionsResultsList");

            var url = '@Url.Action("API/SearchInfection", "api")' + '?id=' + input;

            input = input == null ? "" : input;

            $.getJSON(url, { id: input }, function (infections) {
                if (infections != null && !jQuery.isEmptyObject(infections)) {
                    $.each(infections, function (index, infection) {
                        var tr = document.createElement('tr');
                        var td = document.createElement('td');
                        td.appendChild(document.createTextNode(infection["Name"]));
                        td.setAttribute("data-name", infection["Name"]);
                        td.setAttribute("data-index", infection["ID"]);
                        td.setAttribute("data-type", infection["T"]);
                        td.setAttribute("class", "infection_result_row");
                        td.addEventListener('click', function infClick() {
                            document.getElementById('infections_div').innerHTML += '<button data-id="' + $(this).attr('data-name') + '" data-index="' + $(this).attr('data-index') + '" data-type="' + $(this).attr('data-type') +'" class="vis-badge vis-badge-infection vis-badge-selected selectedInfection update-vis">' + $(this).attr('data-name') + ' <hr class="vis-vr">&nbsp;<a onclick="deleteParent(this)" href="#" style="color:black;" class="fa fa-trash"></a></button> ';
                            toggleInfectionsAndRegions("selectedInfection");
                            td.removeEventListener('click', infClick);
                            displayNotification("warning", "Please click on the Refresh button!");
                        });
                        tr.appendChild(td);
                        newInfectionsResultsBody.appendChild(tr);
                    });
                } else {
                    var tr = document.createElement('tr');
                    var td = document.createElement('td');
                    td.appendChild(document.createTextNode("None found!"));
                    td.setAttribute("style","font-style:italic");
                    tr.appendChild(td);
                    newInfectionsResultsBody.appendChild(tr);
                }
                statusSpinner.setAttribute('class', 'fa fa-check-circle');

            });
            infectionResultsList.replaceWith(newInfectionsResultsBody);
        });

    });

    function deleteParent(element) {
        element.parentNode.parentNode.removeChild(element.parentNode);
    };

    // Displays error modal
    function showErrorInModal(error) {
        //$('#errorModalBody')[0].innerHTML = error;
        //$('#errorModalButton').click();
        swal("Error", error, "error");
    }

    // selects all infections or regions
    function selectAll(element) {
        // get the infections results div and click on all element
        var infectionResultsList = $('#'+element);
        $.each(infectionResultsList.children(), function (index, result) {
            result.children[0].click();
        });
    }

    // Displays a non-intrusive notification
    function displayNotification(type, message) {
        var notification = $('#notification');
        notification.html(message);

        if (type == "warning") {
            notification.removeClass("notification-info");
            notification.addClass("notification-warning");
        } else {
            notification.addClass("notification-info");
            notification.removeClass("notification-warning");
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb6BqMVbPU5a6zxYg88S7AQcfoPbkhEaU&libraries=visualization"></script>