﻿
@{
	ViewBag.Title = "CreateList";
}

@using (Html.BeginForm("CreateList", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<h4>Create a new Mailing List</h4>
	<hr />

	<div class="form-group">
		@Html.Label("List Name", new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextBox("ListName", null, new { @class = "form-control" } )
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Permission Request", new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextArea("PermissionReminder", null, new { @class = "form-control" })
		</div>
	</div>

	<br />
	<input type="submit" value="Create List" />
	<br />
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
<script>
	$(document).ready(function () {
		$('#admin').addClass("active");
	});
</script>
