﻿﻿@model MDRIP.Models.CreateAccountAdminModel
@{
    ViewBag.Title = "Create Account";
}
<h2>Add New User Role:</h2>

@using (Html.BeginForm("CreateAccount", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Create a new account.</h4>
    <hr />
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.TextBoxFor(m => m.Account.FirstName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.FirstName) })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Account.LastName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.LastName) })
    </div>

    <div class="formgroup">
        @Html.DropDownListFor(m => m.Account.UserCenter, new SelectList(Model.Account.Centers, "id", "Name"), "Select Center", new { @class = "form-control" })
    </div>
    <br />

    <div class="formgroup">
        @Html.DropDownListFor(m => m.Account.UserType, new SelectList(Model.Account.Type, "id", "Name"), "Select User Type", new { @class = "form-control" })
    </div>
    <br />

    <div class="form-group">
        @Html.TextBoxFor(m => m.Account.FieldExpertise, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.FieldExpertise) })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Account.LabName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.LabName) })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.Account.Specialisation, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.Specialisation) })
    </div>

    <div class="form-group">
        @Html.DropDownListFor(m => m.Account.Country, new SelectList(Model.Account.CountryList, "id", "Name"), "Select a Country", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.Email) })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Account.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.Password) })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Account.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Account.ConfirmPassword) })
    </div>



    @*<div class="form-group">
        @Html.LabelFor(m => m.Account.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.HouseAndStreet, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.HouseAndStreet, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Region, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.Region, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Country, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.TextBoxFor(m => m.Account.Country, new { @class = "form-control", @readonly = true, @Value = "Pakistan" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Account.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Account.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Role, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" id="ActivatedDropdownList" name="Account.Role">
                <option>Select Role</option>
                @foreach (var item in Model.Roles)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Activated, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" id="ActivatedDropdownList" name="Account.Activated">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Create Account" />
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#admin').addClass("active");
        $("#RegisterViewModel_LabName").hide();
        $("#RegisterViewModel_FieldExpertise").hide();
        $("#RegisterViewModel_Specialisation").hide();


        $("#RegisterViewModel_UserType").change(function () {
            var data = $(this).val();
            if ($(this).val() == "1") {
                $("#RegisterViewModel_LabName").hide();
                $("#RegisterViewModel_FieldExpertise").hide();
                $("#RegisterViewModel_Specialisation").show();
            }
            else if ($(this).val() == "2") {
                $("#RegisterViewModel_FieldExpertise").show();
                $("#RegisterViewModel_LabName").show();
                $("#RegisterViewModel_Specialisation").hide();
            }
            else {
                $("#RegisterViewModel_LabName").hide();
                $("#RegisterViewModel_FieldExpertise").hide();
                $("#RegisterViewModel_Specialisation").hide();
            }
        });
    });
</script>