﻿@model MailChimp.Net.Models.List
<br />
<br />
<br />
<table class="table">
    <tr>
        <th> List Name </th>
        <th> Created on </th>
    </tr>

    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.DateCreated</td>
    </tr>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#admin').addClass("active");
    });
</script>