﻿
@{
    ViewBag.Title = "Edit Page Contents";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/froala/froala_editor.css">
<link rel="stylesheet" href="~/Content/froala/froala_style.css">
<link rel="stylesheet" href="~/Content/froala/plugins/code_view.css">
<link rel="stylesheet" href="~/Content/froala/plugins/draggable.css">
<link rel="stylesheet" href="~/Content/froala/plugins/colors.css">
<link rel="stylesheet" href="~/Content/froala/plugins/emoticons.css">
<link rel="stylesheet" href="~/Content/froala/plugins/image_manager.css">
<link rel="stylesheet" href="~/Content/froala/plugins/image.css">
<link rel="stylesheet" href="~/Content/froala/plugins/line_breaker.css">
<link rel="stylesheet" href="~/Content/froala/plugins/table.css">
<link rel="stylesheet" href="~/Content/froala/plugins/char_counter.css">
<link rel="stylesheet" href="~/Content/froala/plugins/video.css">
<link rel="stylesheet" href="~/Content/froala/plugins/fullscreen.css">
<link rel="stylesheet" href="~/Content/froala/plugins/file.css">
<link rel="stylesheet" href="~/Content/froala/plugins/quick_insert.css">
<link rel="stylesheet" href="~/Content/froala/plugins/help.css">
<link rel="stylesheet" href="~/Content/froala/third_party/spell_checker.css">
<link rel="stylesheet" href="~/Content/froala/plugins/special_characters.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
<style>
    #editor {
        width: 81%;
        margin: auto;
        text-align: left;
    }

    .ss {
        background-color: red;
    }
</style>
<div id="editor">
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/froala/froala_editor.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/align.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/code_view.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/colors.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/draggable.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/entities.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/file.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/font_size.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/font_family.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/image.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/line_breaker.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/link.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/lists.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/quote.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/table.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/save.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/url.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/video.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/help.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/print.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/third_party/spell_checker.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/special_characters.min.js"></script>
<script type="text/javascript" src="~/Scripts/froala/plugins/word_paste.min.js"></script>


<script>
    $(document).ready(function () {
        $('#admin').addClass("active");
        $('#edit').froalaEditor()
    });
</script>