﻿@model MailChimp.Net.Models.List
@{
    ViewBag.Title = "EditList";
}

@using (Html.BeginForm("EditList", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2>Edit List</h2>
    <hr />

    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.PermissionReminder, new { htmlAttributes = new { @class = "form-control" } })

    <br />
    <input type="submit" value="Edit" />
    <br />
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#admin').addClass("active");
    });
</script>