﻿@model MailChimp.Net.Models.List

@{
    ViewBag.Title = "GetDeleteList";
}

@using (Html.BeginForm("DeleteList", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2>Delete List</h2>
    <hr />
    @Html.HiddenFor(model => model.Id)
    @Html.DisplayFor(model => model.Name)
    <br />
    @Html.DisplayFor(model => model.PermissionReminder)

    <br />
    <input type="submit" value="Delete" />
    <br />
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#admin').addClass("active");
    });
</script>