﻿@model MDRIP.Models.AdminModel
@{
    ViewBag.Title = "Admin";
}


<div class="row" style="margin-top:0px">
    <div class="card text-center">
        <div class="vis-card-header">
            <div class="nav" style="height: 100%;">
                <li class="nav-item fullhw">
                    <span class="nav-link vis-overview-text">Manage Accounts</span>
                </li>
            </div>
        </div>
        <div class="card-body">
            <div id="geographicmap" class="page_content">
                <table style="padding: 5px;width: 99%;table-layout:fixed;" cellpadding="6" cellspacing="6">
                    <tr>
                        <td>
                            <table id="tbaccounts" style="width:100%; border:solid 1px; padding-left:10px;">

                                @foreach (var item in Model.Accounts)
                                {
                                    <tr>
                                        <td style="width:50%; border:dotted 1px;">
                                            @item.Email
                                        </td>
                                        <td>
                                            @if (item.Activated)
                                            {
                                                <a class="toggleActivation" href="@Url.Action("ToggleActivation", "Admin")?id=@item.Id">Activated. Click to deactivate.</a>
                                            }
                                            else
                                            {
                                                <a class="toggleActivation" href="@Url.Action("ToggleActivation", "Admin")?id=@item.Id">Deactivated. Click to activate.</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td align="left" style="color:#FFFFFF;padding-right:10px;">
                            <a href="@Url.Action("CreateAccount", "Admin")" class="btn btn-default" style="pointer-events: none;cursor: not-allowed;">Create New Account</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:50px">
    <div class="card text-center">
        <div class="vis-card-header">
            <div class="nav" style="height: 100%;">
                <li class="nav-item fullhw">
                    <span class="nav-link vis-overview-text">Manage Accounts' Roles</span>
                </li>
            </div>
        </div>
        <div class="card-body">
            <div id="geographicmap" class="page_content">
                @using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <table class="table">
                        <tr>
                            <td>
                                Email:
                                <select name="Email">
                                    <option value="">Select an account</option>
                                    @foreach (var item in Model.Accounts)
                                    {
                                        <option value="@item.Id">
                                            @item.Email -
                                            @foreach (var r in Model.Roles)
                                            {
                                                if (r.Id == item.Roles.First().RoleId)
                                                {
                                                    @r.Name;
                                                }
                                            }
                                        </option>
                                    }
                                </select>
                            </td>
                            <td>
                                Role:
                                <select name="Role">
                                    <option value="">Select a role</option>
                                    @foreach (var item in Model.Roles)
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="submit" value="Assign Role" class="btn btn-default" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>


</div>

<div class="row" style="margin-top:50px">

    <div class="card text-center">
        <div class="vis-card-header">
            <div class="nav" style="height: 100%;">
                <li class="nav-item fullhw">
                    <span class="nav-link vis-overview-text">Mailing Lists</span>
                </li>
            </div>
        </div>
        <div class="card-body">
            <div id="geographicmap" class="page_content">
                </table>
                <table class="table">
                    @Html.ActionLink("Create new Mailing list", "CreateList")
                    <tr>
                        <th> List Name </th>
                        <th> Created on </th>
                    </tr>

                    @foreach (var list in Model.MailingLists)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => list.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => list.DateCreated)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditList", new { id = list.Id })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "GetDeleteList", new { id = list.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:50px">

    <div class="card text-center">
        <div class="vis-card-header">
            <div class="nav" style="height: 100%;">
                <li class="nav-item fullhw">
                    <span class="nav-link vis-overview-text">Main Articles</span>
                </li>
            </div>
        </div>
        <div class="card-body">
            <div id="geographicmap" class="page_content">

                <form id="createArticleForm">
                    @Html.AntiForgeryToken()
                    <i>
                        Please do not upload and delete image as this will use unnecessary memory on the server.
                        Only upload an image
                        if you are sure the image is right. If the size of the image is not correct, right-click on the
                        image to edit the size or drag the corner of the image to resize it.
                        <hr />
                    </i>
                    @* Dropdown for available articles with default option = new article *@
                    <table style="width:30%;">
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Article</label></td>
                            <td class="article-cell-width-input">
                                <select id="articles_dropdown">
                                    <option value="-1">New Article</option>
                                    @foreach (var item in Model.ArticleViewModel.Articles)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Title</label></td>
                            <td class="article-cell-width-input"><input type="text" name="article_title" id="article_title" value="" /></td>
                        </tr>
                    </table>

                    <textarea id="article_content" name="Article_Content"></textarea>

                    <table style="width:30%;">
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Publish Date</label></td>
                            <td class="article-cell-width-input"><input type="date" id="article_publish_date" name="Article_PublishDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Sequence Number</label></td>
                            <td class="article-cell-width-input"><input type="number" id="article_sequence_number" name="Article_SequenceNumber" value="0" /></td>
                        </tr>
                        <tr>
                            <td><hr /></td>
                        </tr>
                    </table>

                    @*<button type="submit" class="btn btn-default" id="deletetArticle">Delete Article</button>*@
                    <button type="submit" class="btn btn-default" id="submitArticle">Save Article</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:50px">

    <div class="card text-center">
        <div class="vis-card-header">
            <div class="nav" style="height: 100%;">
                <li class="nav-item fullhw">
                    <span class="nav-link vis-overview-text">Featured Items</span>
                </li>
            </div>
        </div>
        <div class="card-body">
            <div id="geographicmap" class="page_content">

                <form id="CreateFeaturedItemForm">
                    @Html.AntiForgeryToken()
                    @* Dropdown for available articles with default option = new article *@
                    <table style="width:30%;">
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Featured Item</label></td>
                            <td class="article-cell-width-input">
                                <select id="featured_dropdown">
                                    <option value="-1">New Featured Item</option>
                                    @foreach (var item in Model.FeaturedViewModel.FeaturedItems)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Title</label></td>
                            <td class="article-cell-width-input"><input type="text" name="featured_title" id="featured_title" value="" /></td>
                        </tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Display Text</label></td>
                            <td class="article-cell-width-input"><input type="text" name="featured_text" id="featured_text" value="" /></td>
                        </tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Publish Date</label></td>
                            <td class="article-cell-width-input"><input type="date" id="featured_publish_date" name="featured_PublishDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></td>
                        </tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Image</label></td>
                            <td class="article-cell-width-input"><input type="file" id="featured_image" name="Article_SequenceNumber" value="0" /></td>
                        </tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Sequence Number</label></td>
                            <td class="article-cell-width-input"><input type="text" id="featured_sequence_number" name="Article_SequenceNumber" value="0" /></td>
                        </tr>
                        <tr>
                            <td class="article-cell-width"><label class="control-label">Link</label></td>
                            <td class="article-cell-width-input"><input type="text" id="featured_link" name="Article_SequenceNumber" value="" /></td>
                        </tr>
                        <tr>
                            <td><hr /></td>
                        </tr>
                    </table>

                    @*<button type="submit" class="btn btn-default" id="deletetArticle">Delete Article</button>*@
                    <button type="submit" class="btn btn-default" id="submitFeatured">Save Featured Item</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ye5iypfruakze66jtly3uc1ijye30dt22w5u5jk29r8phu8t"></script>

<script>
    $(document).ready(function () {
        $('#admin').addClass("active");

        $('#CreateFeaturedItemForm').submit(function (event) {
            event.preventDefault();
            var url = url = '@Url.Action("CreateUpdateFeatured", "Api/API")';
            var id = $('#featured_dropdown').val();
            var title = $('#featured_title').val();
            var text = $('#featured_text').val();
            var publishDate = $('#featured_publish_date').val();
            var sequence = $('#featured_sequence_number').val();
            var link = $('#featured_link').val();

            if ($('#featured_dropdown').val() != -1) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        ID: id,
                        Title: title,
                        DisplayText: text,
                        PublishDate: publishDate,
                        SequenceNumber: sequence,
                        Link: link,
                        User_ID: "-1"
                    },
                    success: function (result) {
                    }
                });
            } else {

                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '@Url.Action("UploadFeaturedImage", "api/API", null, Request.Url.Scheme)');

                xhr.onload = function () {
                    var json;

                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }

                    json = JSON.parse(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            ID: id,
                            Title: title,
                            DisplayText: text,
                            PublishDate: publishDate,
                            SequenceNumber: sequence,
                            ImagePath: json.location,
                            Link: link,
                            User_ID: "-1"
                        },
                        success: function (result) {
                        }
                    });
                };

                formData = new FormData();
                var file = $('#featured_image')[0].files[0];
                var filename = file == null ? '' : file.filename;
                formData.append('file', file, filename);

                xhr.send(formData);
            }
        });

        $('#featured_dropdown').on('change', function (event) {
            if ($('#featured_dropdown').val() == -1) {
                $('#featured_image').prop('disabled', false);
                $('#featured_title').val('');
                $('#featured_text').val('');
                $('#featured_publish_date').val('@DateTime.Today.ToString("yyyy-MM-dd")'.substring(0, 10));
                $('#featured_sequence_number').val(0);
                $('#featured_link').val('');                
            } else {

                var url = '@Url.Action("GetFeaturedItem", "Api/API")' + '/' + $('#featured_dropdown').val();

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        ID: $('#featured_dropdown').val()
                    },
                    success: function (result) {
                        var article = result["featured"];
                        $('#featured_title').val(article["Title"]);
                        $('#featured_text').val(article["DisplayText"]);
                        $('#featured_publish_date').val(article["PublishDate"].substring(0, 10));
                        $('#featured_sequence_number').val(article["SequenceNumber"]);
                        $('#featured_link').val(article["Link"]);
                        $('#featured_image').disabled = true;
                        $('#featured_image').prop('disabled', true);
                    }
                });
            }

        });

        $('#articles_dropdown').on('change', function (event) {
            if ($(this).value == -1) {
                return;
            }

            var url = '@Url.Action("GetArticle", "Api/API")' + '/' + $('#articles_dropdown').val();

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    ID: $('#articles_dropdown').val()
                },
                success: function (result) {
                    var article = result["article"];
                    console.log(article);
                    $('#article_title').val(article["Title"]);
                    if (article["Content"] != null) {
                        tinyMCE.activeEditor.setContent(article["Content"]);
                    }
                    $('#article_publish_date').val(article["PublishDate"].substring(0, 10));
                    $('#article_sequence_number').val(article["SequenceNumber"]);
                }
            });

        });

        $('#createArticleForm').submit(function (event) {
            event.preventDefault();

            var url = url = '@Url.Action("CreateUpdateArticle", "Api/API")';
            var id = $('#articles_dropdown').val();
            var title = $('#article_title').val();
            var content = tinyMCE.activeEditor.getContent();//$('#article_content').val();
            var publishDate = $('#article_publish_date').val();
            var sequence = $('#article_sequence_number').val();

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    ID: id,
                    Title: title,
                    Content: content, 
                    PublishDate: publishDate,
                    SequenceNumber: sequence,
                    User_ID: "-1"
                },
                success: function (result) {
                    //alert(result);
                }
            });

        });


        $('.toggleActivation').click(function (event) {
            event.preventDefault();
            var link = event.target.href;

            var newHtml = "";
            var toBeActivated = false;
            if (event.target.innerHTML === "Activated. Click to deactivate.") {
                newHtml = "Deactivated. click to activate.";
                toBeActivated = false;
            } else {
                newHtml = "Activated. Click to deactivate.";
                toBeActivated = true;
            }

            $.ajax({
                url: link + "&tba=" + toBeActivated,
                type: "POST",
                success: function (result) {
                    if (result === "Success") {
                        event.target.innerHTML = newHtml;
                    } else {
                        alert("Failure because of connection or you're trying to deactivate your own account.")
                    }
                }
            });
        });

        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste tinycomments tinydrive tinymcespellchecker image', // image
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen undo redo image', // insertfile image
            toolbar_drawer: 'sliding',
            tinycomments_mode: 'embedded',
            @*tinydrive_token_provider: '@Url.Action("jwt", "api/API", null, Request.Url.Scheme)',*@
            tinycomments_author: 'MDRIP',
            images_upload_base_path: '',
            origin: 'mdrip.azurewebsites.net',
            /* without images_upload_url set, Upload tab won't show up*/
            images_upload_url: '@Url.Action("UploadEditorFile", "api/API", null, Request.Url.Scheme)',

            /* we override default upload handler to simulate successful upload*/
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;

                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '@Url.Action("UploadEditorFile", "api/API", null, Request.Url.Scheme)');

                xhr.onload = function () {
                    var json;

                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }

                    json = JSON.parse(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }

                    success(json.location);
                };

                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());

                xhr.send(formData);
            }
        });
        
    });

</script>