﻿@model IEnumerable<MDRIP.Models.BacterialEcology>

@{
    ViewBag.Title = "Index";
}

<h2>Bacteria Ecology</h2>

<p>
    @Html.ActionLink("Add New Ecology", "Create")
    @using (Html.BeginForm("Index", "BacterialEcologies", FormMethod.Get))
    {
    <p>
        @*Genre: @Html.DropDownList("Category","All")*@
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    </p>


    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.District)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.District)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Habitat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.Habitat)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Prevention)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.Prevention)
                    </dd>

                </dl>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
    </script>