﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MDRIP</title>
    @Styles.Render("~/Content/newcss")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
<body class="body zero-top">
    @Html.Partial("_Navbar")

    <div class="wrapper">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>


    @Html.Partial("_footer")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/newbootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/script.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // the body of this function is in assets/js/now-ui-kit.js
            //nowuiKit.initSliders();
            $('.unclickable').click(function (event) {
                event.preventDefault();
            });
        });
    </script>

    <style>
        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>
