<style>
    pre {
        width: 100%;
        white-space: initial;
    }

    .article p {
        color: black;
        line-height: 0.95em;
        font-weight: 500;
    }
</style>


<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image" data-parallax="true" style='background-image:url("../../Assets/header.jpg");'>
        </div>
        <div class="container">
            <div class="content-center brand">
                @*<img class="n-logo" src="./assets/img/now-logo.png" alt="">*@
                <h1 class="h1-seo">MDRIP</h1>
                <h6 style="text-transform:none;">A database for Multi-Drug Resistant(MDR) infections and bacteria</h6>
                <br />
                <hr />
                <br />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form class="nav-link searchDatabaseForm">
                            <div class="input-group mb-5">
                                <input type="text" class="form-control queryInput" placeholder="Bacteria/Infection..." aria-label="Bacteria/Infection" aria-describedby="basic-addon2">
                                <div class="input-group-append" style="width:60px;">
                                    <button class="btn btn-primary btn-lg btn-round searchDatabaseButton" type="submit" style="height:100%; margin-top:0px; border-radius: 0px 30px 30px 0px !important; width:100%; padding:0px;" onclick='scrollToSection("section-search")'>
                                        <i class="now-ui-icons ui-1_zoom-bold" style="font-weight:700; font-size:20px;"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-1" style="text-align: right">
                        <a href="javascript:void(0)" onclick="scrollToSection('section-articles')">Articles</a>&nbsp;
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        |
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        &nbsp;<a href="javascript:void(0)" onclick="scrollToSection('section-alerts')">Alerts</a>&nbsp;
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        |
                    </div>
                    <div class="col-md-2" style="text-align: left">
                        &nbsp;<a href="javascript:void(0)" onclick="scrollToSection('section-featured')">Featured Tools</a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section section-search">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #630935; border-radius:3px 3px 0px 0px;">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="#630935" style="height:4.5em">
                                    <li class="nav-item" style="margin-top:-1em; width: 60%;">
                                        <form class="nav-link searchDatabaseForm">
                                            <div class="input-group mb-5">
                                                <input type="text" class="form-control queryInput" placeholder="Bacteria/Infection..." aria-label="Bacteria/Infection" aria-describedby="basic-addon2">
                                                <div class="input-group-append" style="width:60px;">
                                                    <button class="btn btn-primary btn-lg btn-round searchDatabaseButton" type="submit" style="height:100%; margin-top:0px; border-radius: 0px 30px 30px 0px !important; width:100%; padding:0px;">
                                                        <i class="now-ui-icons ui-1_zoom-bold" style="font-weight:700; font-size:20px;"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-body" style="min-height: calc(100vh - 250px); max-height: calc(100vh - 250px); overflow-y:auto;">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                        <div id="search-results-div" style="text-align:justify|right;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-articles" style="padding-top: 0px;">
            <div class="container">
                <div class="row section-search">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #630935; border-radius:3px 3px 0px 0px;">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="#630935" style="height:4.5em">
                                    <li class="nav-item" style="">
                                        <h5>Articles</h5>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-body" style="min-height: calc(100vh - 250px); max-height: calc(100vh - 250px); overflow-y:auto;">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active article" id="home1" role="tabpanel">
                                        @foreach (var article in Model.Articles)
                                        {
                                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(article.Content))
                                            <hr />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="section section-alerts" style="padding-top: 0px;">
            <div class="container">
                <div class="row section-search">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #630935; border-radius:3px 3px 0px 0px;">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="#630935" style="height:4.5em">
                                    <li class="nav-item" style="">
                                        <h5>Alerts</h5>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-body" style="min-height: calc(100vh - 250px); max-height: calc(100vh - 250px); overflow-y:auto;">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active article" id="home1" role="tabpanel">
                                        @foreach (var alert in Model.Alerts)
                                        {
                                            <a class="custom-link" href="@Url.Action("Details", "Alerts")?id=@alert.ID">@alert.Name</a>
                                            <p class="search-result-type">
                                                Effective date: @alert.Date.ToShortDateString()
                                                <br />
                                                Status: @alert.Importance
                                            </p>
                                            <p class="search-result-body">@alert.ShortDescription</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="section section-featured" style="padding-top: 0px;">
            <div class="container">
                <div class="row section-search">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #630935; border-radius:3px 3px 0px 0px;">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="#630935" style="height:4.5em">
                                    <li class="nav-item" style="">
                                        <h5>Featured Links</h5>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-body" style="min-height: calc(100vh - 250px); max-height: calc(100vh - 250px); overflow-y:auto;">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active article" id="home1" role="tabpanel">
                                        @if (Model.FeaturedItems.Count == 1)
                                        {
                                            <div class="row">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-4">
                                                    @{var item = Model.FeaturedItems[0];
                                                        if (!String.IsNullOrEmpty(item.ImagePath))
                                                        {
                                                            <img class="featured-img" src="@item.ImagePath" height="90%" width="90%" />
                                                        }
                                                        <div class="featured-link"><a class="custom-link" target="_blank" href="@item.Link">@item.DisplayText</a></div>
                                                    }
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div>

                                        }

                                        else if (Model.FeaturedItems.Count == 2)
                                        {
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-3">
                                                    @{var item = Model.FeaturedItems[0];
                                                        if (!String.IsNullOrEmpty(item.ImagePath))
                                                        {
                                                            <img class="featured-img" src="@item.ImagePath" height="90%" width="90%" />
                                                        }
                                                        <div class="featured-link"><a class="custom-link" target="_blank" href="@item.Link">@item.DisplayText</a></div>
                                                    }
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-3">
                                                    @{item = Model.FeaturedItems[1];
                                                        if (!String.IsNullOrEmpty(item.ImagePath))
                                                        {
                                                            <img class="featured-img" src="@item.ImagePath" height="90%" width="90%" />
                                                        }
                                                        <div class="featured-link"><a class="custom-link" target="_blank" href="@item.Link">@item.DisplayText</a></div>
                                                    }
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        }

                                        else
                                        {
                                            int rowsCount = Model.FeaturedItems.Count / 3;
                                            for (var count = 0; count < rowsCount; count++)
                                            {
                                                <div class="row">
                                                    @if ((Math.Min((count + 1) * 3, Model.FeaturedItems.Count) - count * 3) == 1)
                                                    {
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4">
                                                            @{var item = Model.FeaturedItems[0];
                                                                if (!String.IsNullOrEmpty(item.ImagePath))
                                                                {
                                                                    <img class="featured-img" src="@item.ImagePath" height="90%" width="90%" />
                                                                }
                                                                <div class="featured-link"><a class="custom-link" target="_blank" href="@item.Link">@item.DisplayText</a></div>
                                                            }
                                                        </div>
                                                        <div class="col-md-4"></div>
                                                    }
                                                    else if ((Math.Min((count + 1) * 3, Model.FeaturedItems.Count) - count * 3) == 2)
                                                    {
                                                        <div class="col-md-4">
                                                            @{var item = Model.FeaturedItems[0];
                                                                if (!String.IsNullOrEmpty(item.ImagePath))
                                                                {
                                                                    <img class="featured-img" src="@item.ImagePath" height="90%" width="90%" />
                                                                }
                                                                <div class="featured-link"><a class="custom-link" target="_blank" href="@item.Link">@item.DisplayText</a></div>
                                                            }
                                                        </div>
                                                        <div class="col-md-4">
                                                            @{item = Model.FeaturedItems[1];
                                                                if (!String.IsNullOrEmpty(item.ImagePath))
                                                                {
                                                                    <img class="featured-img" src="@item.ImagePath" height="90%" width="90%" />
                                                                }
                                                                <div class="featured-link"><a class="custom-link" target="_blank" href="@item.Link">@item.DisplayText</a></div>
                                                            }
                                                        </div>
                                                        <div class="col-md-4"></div>
                                                    }
                                                    else
                                                    {

                                                        for (var itemCount = count * 3; itemCount < Math.Min((count + 1) * 3, Model.FeaturedItems.Count); itemCount++)
                                                        {
                                                            var item = Model.FeaturedItems[itemCount];
                                                            <div class="col-md-4">
                                                                @if (!String.IsNullOrEmpty(item.ImagePath))
                                                                {
                                                                    <img class="featured-img" src="@item.ImagePath" height="90%" width="90%" />
                                                                }
                                                                <div class="featured-link"><a class="custom-link" target="_blank" href="@item.Link">@item.DisplayText</a></div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        

        @Html.Partial("_Footer")
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {

            @for(int i = Math.Min(@Model.Alerts.Count, 3) - 1; i >= 0 ; i--)
             {
                var alert = Model.Alerts[i];
               
                <text>$.notify('@alert.Name' + ": " + '@alert.ShortDescription', { type: 'error', position: 'bottom right', autoHide: false });</text>
             }

            $('#overview').addClass("active");

            $('.searchDatabaseForm').submit(function (event) {
                event.preventDefault();

                var resultsDiv = $("#search-results-div");

                var statusSpinner = $('.searchDatabaseButton');
                for (var item in statusSpinner) {
                    try {
                        statusSpinner[item].children[0].setAttribute('class', 'fa fa-spinner fa-spin');
                    } catch (ex) { }
                }

                var inputControls = $('.queryInput');
                var input = $(this).find('input')[0].value;
                for (var inp in inputControls) {
                    inputControls[inp].value = input;
                }

                var url = '@Url.Action("API/SearchDatabase", "api")' + '?query=' + input;

                input = input == null ? "" : input;

                var finalResult = "<i>No results found...</i>";

                $.getJSON(url, { query: input }, function (results) {
                    if (results != null && !jQuery.isEmptyObject(results)) {
                        finalResult = "";
                        $.each(results, function (index, result) {
                            finalResult += "<a class='custom-link search-result' href='" + result.Link + "'>" +
                                result.Name + "</a><br/><p class='search-result-type'><i>Type: " +
                                result.Type + "</i></p><p class='search-result-body'>" +
                                result.Definition + "</p>";
                        });
                    }
                    resultsDiv[0].innerHTML = finalResult;
                    statusSpinner = $('.searchDatabaseButton');
                    for (var item in statusSpinner) {
                        try {
                            statusSpinner[item].children[0].setAttribute('class', 'now-ui-icons ui-1_zoom-bold');
                        } catch (Ex) { }
                    }
                });
            });

        });

        function scrollToSection(section) {

            if ($('.' + section).length != 0) {
                $("html, body").animate({
                    scrollTop: $('.' + section).offset().top
                }, 500);
            }

            return false;
        }



    </script>
