﻿@{
    ViewBag.Title = "Dashboard";
}

<div class="row alert alert-danger">
    <div class="col-md-12 bold">
        Placeholder for alerts
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Upload", "Utils", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Upload a CSV or Xls File</h4>
    <hr />
    <label for="file">Upload Image:</label>  
    <input type="file" name="file" id="file"/><br><br>  
    <input type="submit" value="Upload File"/>  
    <br><br>  
    @ViewBag.Message
}

    </div>
</div>