﻿@model IEnumerable<MDRIP.Models.ClinicalInformation>

@{
	ViewBag.Title = "Index";
}

<h2>Clinic</h2>

	@Html.ActionLink("Add New Clinic", "Create")

	@using (Html.BeginForm("Index", "Centers", FormMethod.Get))
	{
	<p>
		Search: @Html.TextBox("SearchString")
		<input type="submit" value="Search" />
	</p>
	}

	@foreach (var item in Model)
	{
		<div class="card">
			<div class="card-body">
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.ClinicName)
					</dt>

					<dd>
						@Html.DisplayFor(model => item.ClinicName)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.ClinicAddress)
					</dt>

					<dd>
						@Html.DisplayFor(model => item.ClinicAddress)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.ClincFormNumber)
					</dt>

					<dd>
						@Html.DisplayFor(model => item.ClincFormNumber)
					</dd>

					<dd>
						@Html.DisplayFor(model => item.ClinicRecords)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.ClinicRecords)
					</dt>

					<dd>
						@Html.DisplayFor(model => item.ClinicRecordsProviderID)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.ClinicRecordsProviderID)
					</dt>

					<dd>
						@Html.DisplayFor(model => item.ClinicalInfectionsInformation)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.ClinicalInfectionsInformation)
					</dt>

					<dd>
						@Html.DisplayFor(model => item.ClinicRecords)
					</dd>
				</dl>
				@Html.ActionLink("Edit", "Edit", new { id = item.ID })
				@Html.ActionLink("Delete", "Delete", new { id = item.ID })
			</div>
		</div>
	}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			$('#tables').addClass("active");
		});
	</script>