﻿@model MDRIP.Models.CountryViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Countries", FormMethod.Post, new { enctype = "multipart/form-data", id = "createCountryForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Country</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Country.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="The Name field is required." id="Country_Name" name="Country.Name" type="text" value="" aria-describedby="Country_Name-error" aria-invalid="true">
                    <option value="">Select a country</option>
                    @foreach (var item in Model.Countries)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                @*@Html.EditorFor(model => model.Country.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Country.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="">
            <label class="control-label col-md-2">GeoJson File</label>
            <div class="col-md-10">
                <input type="file" id="GeoJsonFile" name="GeoJson" class="form-control" accept=".json,.geojson,.geo.json,.JSON" />
                @Html.ValidationMessageFor(model => model.Country.Geojson, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>