﻿@model MDRIP.Models.Country

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>GeoJson File</dt>
        <dd>
            <div>
                <label class="control-label col-md-2">GeoJson File</label>
                <div class="col-md-10">
                    <a target="_blank" href="@Url.Action("DownloadFile", "Utils")?link=Assets/maps&name=@Model.Geojson">@Model.Geojson</a>
                </div>
            </div>
        </dd>
        @if (Model.Regions.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Regions)
            </dt>

            <dd>
                @foreach (var region in Model.Regions)
                {
                    <label>@region.Name </label>
                }

            </dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>