﻿@model MDRIP.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            GeoJson File:
        </dt>
        <dd>
            <div>
                <div class="col-md-10">
                    <a target="_blank" href="@Url.Action("DownloadFile", "Utils")?link=Assets/maps&name=@Model.Geojson">@Model.Geojson</a>
                </div>
            </div>
        </dd>
        @if (Model.Regions.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Regions)
            </dt>

            <dd>
                @foreach (var region in Model.Regions)
                {
                    <label>@region.Name </label>
                }

            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tables').addClass("active");
    });
</script>