﻿@model MDRIP.Models.CountryViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Countries",
                FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Country</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Country.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.Country.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="The Name field is required." id="Country_Name" name="Country.Name" type="text" value="" aria-describedby="Country_Name-error" aria-invalid="true">
                    <option value="">Select a country</option>
                    @foreach (var item in Model.Countries)
                    {
                        if (Model.Country.Name == item)
                        {
                            <option value="@item" selected>@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Country.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <label class="control-label col-md-2">GeoJson File</label>
            <div class="col-md-10">
                <a target="_blank" href="@Url.Action("DownloadFile", "Utils")?link=Assets/maps&name=@Model.Country.Geojson">@Model.Country.Geojson</a>
            </div>
        </div>
        <div>
            <label class="control-label col-md-6">Replace Existing GeoJson File</label>
            <div class="col-md-10">
                <input type="file" id="GeoJsonFile" name="GeoJson" class="form-control" accept=".json,.geojson,.geo.json,.JSON" />
                @Html.ValidationMessageFor(model => model.Country.Geojson, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.Country.Regions.Count > 0)
        {
            <div class="form-group">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Country.Regions)
                    </dt>
                    <dd>
                        @foreach (var region in Model.Country.Regions)
                        {
                            <div>
                                <label>@region.Name &nbsp; </label> <a href="@Url.Action("DeleteRegion", "Regions")?id=@region.ID" class="fa fa-trash deleteRegion"></a><br />
                            </div>
                        }
                    </dd>
                </dl>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        $('#tables').addClass("active");
        $('.deleteRegion').on('click', function (event) {
            event.preventDefault();
            var con = confirm("Do you want to delete this region?");

            var element = this;

            if (con) {

                $.ajax({
                    type: "POST",
                    url: this.href,
                    dataType: "text",
                    success: function (resultData) {
                        element.parentNode.parentNode.removeChild(element.parentNode);
                    }
                });
            }
        });
    });

</script>